	<img class="clickable" src="<t4 type='media' id='60295' formatter='image/path'/>" alt="Facebook Logo" data-href="https://www.facebook.com/msudenver">
	<img class="clickable" src="<t4 type='media' id='60367' formatter='image/path'/>" alt="Twitter Logo" data-href="http://twitter.com/msudenver">
	<img class="clickable" src="<t4 type='media' id='60379' formatter='image/path'/>" alt="YouTube Logo" data-href="http://www.youtube.com/user/msudenver">
	<img class="clickable" src="<t4 type='media' id='60298' formatter='image/path'/>" alt="Flickr Logo" data-href="http://www.flickr.com/photos/msudenver/sets/"> 
	