/* Stylimng for 3 column pages
------------------------------------------*/

#middleColumn {
	width:470px;
	float:left;
	margin-left:20px;
}

#threeColumnRight {
	width:160px;
	float:right;
}



#threeColumnRight .infoBox {background: #CEDAFF; zoom:1; margin: 0 0 10px 0; }
#threeColumnRight .infoBox .infoBox-title { background: #A1131B; margin: 0px;}
#threeColumnRight .infoBox .infoBox-title h3 { color: #fff; font-size: 1.2em; font-weight: bold; padding: 9px; margin: 0px; }
#threeColumnRight .infoBox .infoBox-fold { display: none; }
#threeColumnRight .infoBox .infoBox-content { padding: 5px 40px 5px 5px;  }

