/* Stylimng for 3 column pages
------------------------------------------*/

#middleColumn {
	width:470px;
	float:left;
	margin-left:20px;
}

#threeColumnRight {
	width:160px;
	float:right;
}



#threeColumnRight .infoBox {background: #E0E0E7; zoom:1; margin: 0 0 10px 0; 
-moz-border-radius-bottomright: 10px;
border-bottom-right-radius: 10px;
-moz-border-radius-topleft: 10px;
border-top-left-radius: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-left-radius: 10px;
}
#threeColumnRight .infoBox .infoBox-title { background: #A1131B; margin: 0px;
-moz-border-radius-topleft: 10px;
border-top-left-radius: 10px;
}
#threeColumnRight .infoBox .infoBox-title h3 { color: #fff; font-size: 1.2em; font-weight: bold; padding: 10px; margin: 0px; }
#threeColumnRight .infoBox .infoBox-content { padding: 5px 40px 5px 5px;  }

