/* Styling for 2 column pages ----------------------------------------*/
/* MGW 060812 
Modified the width from 660px to 630px----------------------------------------*/

#rightColumn {
	width: 630px;
	margin-left:20px;
	float:left;
}

#bannerImage { width: 648px; padding:5px; overflow:hidden; margin-bottom:20px; border: 1px solid #ececec; }
#bannerImage img { overflow: hidden;}