<div class="ThreeColumnRight">
    <t4 type="navigation" id="105" />
    <!-- build:remove -->
    <!-- HiglightBox text/rightcol -->
    <div class="HighlightBox">
        <div class="HighlightBox-title">
            <div class="triangle"></div>
            President's Initiatives
            <hr>
        </div>
        <div class="HighlightBox-content">
            <p><a href="/president/hsi/">Hispanic Serving Institution (HSI)</a>
            </p>
            <p><a href="/strategicplanning/">Strategic Planning</a>
            </p>
            <p><a title="Home%20%BB%20Metropolitan%20State%20University%20of%20Denver%20%BB%20MSU%20Denver%20Home%20%BB%20Climate%20Survey" href="/climatesurvey/">Climate Survey</a>
            </p>
        </div>
    </div>
    <!-- Edited by MGW 08-10-13 UPDATED FOR 2013 Re-Design -->
    
    <!--text/rightcol-->
    <div class="well">
        <table border="0" class="meetingstable">
            <tbody>
                <tr>
                    <th>&nbsp;
                        <span style="font-size: 1.17em;">Related Links</span>
                    </th>
                </tr>
                <tr>
                    <td>
                        <p><a title="Home%20%BB%20Metropolitan%20State%20University%20of%20Denver%20%BB%20MSU%20Denver%20Home%20%BB%20Board%20of%20Trustees" href="/trustees/">Board of Trustees</a>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a title="Home%20%BB%20Metropolitan%20State%20University%20of%20Denver%20%BB%20MSU%20Denver%20Home%20%BB%20Academic%20and%20Student%20Affairs" href="/asa/">Division of Academic and Student Affairs</a>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a title="Home%20%BB%20Metropolitan%20State%20University%20of%20Denver%20%BB%20MSU%20Denver%20Home%20%BB%20Division%20of%20Administration%2C%20Finance%20and%20Facilities" href="/af/">Division of Administration and Finance</a>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a title="Home%20%BB%20Metropolitan%20State%20University%20of%20Denver%20%BB%20MSU%20Denver%20Home%20%BB%20Advancement%20and%20External%20Relations" href="/aer/">Division of Advancement and External Relations</a>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a title="Home%20%BB%20Metropolitan%20State%20University%20of%20Denver%20%BB%20MSU%20Denver%20Home%20%BB%20Marketing%20and%20Communications" href="/marcom/">Marketing and Communications</a>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a title="Home%20%BB%20Metropolitan%20State%20University%20of%20Denver%20%BB%20MSU%20Denver%20Home%20%BB%20Office%20of%20Equal%20Opportunity" href="/eoo/">Office of Equal Opportunity</a>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a title="Home%20%BB%20Metropolitan%20State%20University%20of%20Denver%20%BB%20MSU%20Denver%20Home%20%BB%20Institutional%20Diversity" href="/president/diversity/">Office of Institutional Diversity</a>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a title="Home%20%BB%20Metropolitan%20State%20University%20of%20Denver%20%BB%20MSU%20Denver%20Home%20%BB%20Internal%20Audit" href="/auditor/">Internal Audit Unit</a>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="http://gometrostate.com/">Intercollegiate Athletics</a>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- / end of main container-->
    <!-- /build -->
    </div>
