
// .carousel-inner {
// 	// background: black;
// 	height: 300px;
// 	// vertical-align: bottom;
// 	// bottom: 0;
// }

.item{
	height: 300px;
	max-height: 300px;
	background: black;
}
.item > img {
 	// display: inline-block;
 	margin: auto;
 	width: 300px;
	height: 300px;
	max-height: 300px;
	max-width: 300px;
	// line-height: 1;
	// margin-left: auto;
	// margin-right: auto;
	// margin-bottom: 10px;
}

.carousel-caption {
	right: 5%;
	bottom: 0;
	top: 10%;
	left: 60%;
	font-size: 12px;
	z-index: 99;
	text-align: center;
	margin:0 auto;
	/* Smartphones (portrait and landscape) ----------- */
	@media only screen and (min-width : 320px) and (max-width : 480px) {
		right: 10%;
		// bottom: 40%;
		top: 5%;
		// position: relative;
		left: 5%;
		// background-color: white;
		text-align: left;
		padding: 2em;
		// padding-left: 5px;
		// padding-right: 5px;
		// margin-left: 0;
		// margin-right: 0;
		// height: 100%;
		// padding-top: 0;
		// margin-top: 0;
		background-color: rgba(42, 42, 42, .7);


	}

	// padding-top: 10px;
	// padding-bottom: 10px;
	
	
	// background-color: white;

}


.carousel-caption p  {
	position: relative;
	padding-top: .5em;
	font-size: 1.5em;
	text-align: left;
	/* Smartphones (portrait and landscape) ----------- */
	@media only screen and (min-width : 320px) and (max-width : 480px) {
		right: 5%;
		bottom: 40%;
		top: 25%;
		left: 0;
		// font-size: 1em;
		padding:10px;
		margin:0 auto;
		// padding-left: 1em;
		// background-color: rgba(42, 42, 42, 0.7);

	}
}

p.lead{
	font-size: 1em;
	padding:0;
	margin:0 auto;
}


.promo_date{ 
	// color:#1b557a; 
	font-size: 2em;
}


.carousel img {
	// width:  auto;
	// height: 300px;
}




.carousel-control {
	color: white;
	// left: 15%;
	// height: 150px;
	// width:  150px;
	// padding-top: 126px;
	// text-shadow: 0 1px 1px rgba(0,0,0,1);
	// background-color: transparent;
	font-size: 5em;
	z-index: 100;

}

.icon-next{
	/* Desktops and laptops ----------- */
	// color: red;
	
	@media only screen and (min-width : 1224px) {
		left: 80% !important;
		font-size: 70px !important;
	}
}

.icon-prev{
	// color: red;
	// width: 110px;
	// font-size: 70px;
	/* Desktops and laptops ----------- */
	@media only screen and (min-width : 1224px) {
		width: 0 !important;
		left: 20% !important;
		font-size: 70px !important;
		
	}
}


// #slider{
// 	width: 100%;
// 	margin-left: 0;
// 	// float: left;
// 	// border :none;
// }


// .carousel-control .right .left {
// 	text-decoration: none;
// 	left: auto;
// 	// right: 15px;
// }

// // .carousel-control.left {

// // }
// // .carousel-control {

// // }

// // .left{
// // 	float:inherit;
// // }

// span{
//  color:black;
// }

// table{
// 	 width: 100%;
// 	 border: 1px ;
// 	 padding: 5px;
// 	 color: silver;
// }

// div > img.border {
// 	max-width: 300px;
// 	max-height:300px;
// }

// p.image_caption {
//          display:none;
// }

// div.contents{
//          float: left;
//          padding: 15px;
// }
// h4 a{
// 	color: #4F639F;
// }
// .carousel-inner > h1 a, h2 a, h3 a, h4 a {
// 	// color: white;/
// }
