/*!
 * Custom Style for MSU Denver 2 Column Pages
 * Copyright 2013 MSU Denver
 * http://www.msudenver.edu
 */
#bannerImage {
  max-width: 100%;
  padding: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}
#bannerImage img {
  overflow: hidden;
}
