/*!
 * Custom Style for MSU Denver
 * Copyright 2013 MSU Denver
 * http://www.msudenver.edu
 */
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
  .applynow {
    font-size: 90%;
    font-size: 1.700em;
    background-color: #1ABC9C;
  }
  .give {
    font-size: 1.1111em;
    background-color: #2980B9;
  }
  input.search-query {
    width: 250px;
  }
}
@media only screen and (min-device-width: 1025px) {
  .msudenver_logo img {
    width: 80%;
    padding: 2em;
    padding-left: 18em;
  }
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .HighlightBox {
    margin-bottom: 2em;
  }
  .msudenver_logo img {
    width: 80%;
    padding: 2em;
  }
  .flexwrapper > section {
    width: 100%;
  }
  .containerfluid {
    position: relative;
  }
  .navbar,
  .navbar-inverse {
    margin: 0;
  }
  .actionHeader.applynow {
    background-color: #1ABC9C;
  }
  .actionHeader.give {
    background-color: #2980B9;
  }
  input.search-query {
    width: 100%;
  }
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
  .actionHeader.applynow {
    font-size: 100% !important;
    background-color: #1ABC9C;
  }
  .actionHeader.give {
    font-size: 100% !important;
    background-color: #2980B9;
  }
}
.actionHeader {
  vertical-align: top;
  box-sizing: border-box;
  padding-bottom: 2%;
  padding-top: 2%;
  color: white;
  text-align: center;
  font-weight: 100;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}
p.actionHeader {
  padding: 10%;
  line-height: 1.25em;
  font-height: 2em;
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 1.755em;
  text-transform: uppercase;
  min-height: 90px;
}
.actionHeader.news {
  background-color: #3498DB;
}
.actionHeader.applynow {
  background-color: #1ABC9C;
}
.actionHeader.give {
  font-size: 1.2em;
  background-color: #2980B9;
}
.actionHeader.events {
  background-color: #F39C12;
}
.homepage-caption {
  font-size: 4em;
}
.homepage-caption h1 {
  color: white;
}
.homepage-caption {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
}
.homepage-caption h4,
.homepage-caption p {
  color: #ffffff;
  position: absolute;
  padding: 0.555em;
  line-height: 1.15em;
  left: 0;
  right: 0;
  bottom: 0;
  background: #333333;
  background: rgba(0, 0, 0, 0.55);
  margin-bottom: 0;
  padding: 10% 33% 10% 10%;
  max-width: 70%;
}
.homepage-caption h4 {
  margin: 0 0 5px;
}
.homepage-caption img {
  width: 100%;
}
/**{
  	-webkit-transition: all 0.5s ease-in-out;
  	-moz-transition: all 0.5s ease-in-out;
  	-o-transition: all 0.5s ease-in-out;
  	transition: all 0.5s ease-in-out;
}
*/.mainNavigation {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
  margin-button: 1em;
}
.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: #bcbaba;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.apply_and_giving_well {
  min-height: 7em;
}
.apply_and_giving_well {
  min-height: 7em;
}
.navbar-search .search-query {
  margin-bottom: 0;
  padding: 4px 14px;
  font-family: inherit;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.nav-tabs > li > a,
.nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
  color: black;
}
.actionHeader.news {
  background-color: #3498DB;
}
.actionHeader.applynow {
  font-size: 1.5em;
  background-color: #1ABC9C;
}
.actionHeader.give {
  font-size: 1.111em;
  background-color: #2980B9;
}
.actionHeader.events {
  background-color: #F39C12;
}
.testimonial img {
  width: 100%;
}
.hero-unit {
  padding: 20px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
