.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
.actionHeader {
  vertical-align: top;
  box-sizing: border-box;
  padding-bottom: 2%;
  padding-top: 2%;
  color: white;
  text-align: center;
  font-weight: 100;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}
p.actionHeader {
  padding: 10%;
  line-height: 1.25em;
  font-height: 2em;
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 1.755em;
  text-transform: uppercase;
  min-height: 90px;
}
.actionHeader.news {
  background-color: #3498DB;
}
.actionHeader.applynow {
  background-color: #1ABC9C;
}
.actionHeader.give {
  font-size: 1.2em;
  background-color: #2980B9;
}
.actionHeader.events {
  background-color: #F39C12;
}
.homepage-caption {
  font-size: 4em;
}
.homepage-caption h1 {
  color: white;
}
.homepage-caption {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
}
.homepage-caption h4,
.homepage-caption p {
  color: #ffffff;
  position: absolute;
  padding: 0.555em;
  line-height: 1.15em;
  left: 0;
  right: 0;
  bottom: 0;
  background: #333333;
  background: rgba(0, 0, 0, 0.55);
  margin-bottom: 0;
  padding: 10% 33% 10% 10%;
}
.homepage-caption h4 {
  margin: 0 0 5px;
}
.homepage-caption img {
  width: 100%;
}
.toolbar {
  background-color: #ffffff;
}
.mainNavigation {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
  margin-button: 1em;
}
.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: #bcbaba;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-search-form {
  padding-top: 0.5em;
  padding-left: 4em;
}
.actionHeader.news {
  background-color: #3498DB;
}
.actionHeader.applynow {
  font-size: 1.5em;
  background-color: #1ABC9C;
}
.actionHeader.give {
  font-size: 1.111em;
  background-color: #2980B9;
}
.actionHeader.events {
  background-color: #F39C12;
}
.testimonial img {
  width: 100%;
}
