/*!
 * Link Column Style for MSU Denver
 * Copyright 2013 MSU Denver
 * http://www.msudenver.edu
 */
.linkcolumn .HighlightBox {
  text-color: #ffffff;
  padding: 15px;
  margin: 20px;
  background: #e74c3c;
  position: relative;
  zoom: 1;
}
