/*!
 * Custom Style for MSU Denver
 * Copyright 2013 MSU Denver
 * http://www.msudenver.edu
 */
/**{
  	-webkit-transition: all 0.5s ease-in-out;
  	-moz-transition: all 0.5s ease-in-out;
  	-o-transition: all 0.5s ease-in-out;
  	transition: all 0.5s ease-in-out;
}
*//*

  data-href
  pointer-
  --------

*/.clickable {
  cursor: pointer;
}
/*

  HEADERS
  --------

*/h1 {
  color: #7f8c8d;
  font-size: 2.2em;
  font-weight: 200;
  margin-left: 10px;
  text-transform: uppercase;
}
h2 {
  color: #2c3e50;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 2px;
  text-transform: uppercase;
}
h3 {
  color: #2980b9;
  font-size: 1.8em;
  font-weight: 400;
  margin-bottom: 4px;
  margin-top: 2px;
}
h4 {
  color: #3498db;
  font-size: 18px;
  font-weight: 500;
  margin-top: 4px;
}
h5 {
  color: #2c3e50;
  font-size: 16px;
  font-weight: 500;
}
h6 {
  color: #e74c3c;
  font-size: 13px;
  font-weight: 500;
}
/*
  
  BODY AND LINK COLORS
  -------- * ---------

*/body {
  margin: 0;
  font-family: cabin, source-sans-pro, muli, josefin-sans, open-sans, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
  background-image: url(/assets/img/background.jpg);
}
a {
  color: #1b557a;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #20648f;
  text-decoration: underline;
}
/*
	
  HEADER
  ------

*/.siteheader {
  padding: 1em;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #7f8c8d;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.siteheader .h1 {
  color: #7f8c8d;
  font-size: 1.5em;
}
.msudenver_logo img {
  max-width: 350px;
  padding: 2em;
}
.breadcrumbs {
  color: #2c3e50;
  margin-bottom: 20px;
  margin-left: 20px;
  font-weight: 500;
}
/*
	
  NAVIGATION
  ----------

*/.nav-tabs > li > a,
.nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
  color: black;
}
.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: #95a5a6;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
/*
	
  FOOTER
  ------

*/.footer {
  min-height: 20px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgba(42, 42, 42, 0.26);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.footer > .container > .row-fluid > .span3 {
  color: #000000;
}
.footer > .container > .row-fluid > .span5 {
  color: #000000;
}
.footer > .container > .row-fluid > .span5 {
  color: #000000;
}
/*
	
  DEFINE!!!
  ---------

*/.readmore {
  text-align: right;
  margin-top: 10px;
}
.sup {
  font-size: 80%;
  vertical-align: top;
}
.sub {
  font-size: 80%;
  vertical-align: bottom;
}
hr {
  border: 0;
  height: 0.1099999215em;
  background-color: white;
  margin: 0.75em 0;
}
/*
  
  CONTENT STYLES
  ----- * ------

*/.content {
  min-height: 7em;
  padding: 1.2575em;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
#content a {
  color: #1b557a;
  text-decoration: none;
}
#content a:hover {
  color: #20648f;
  border-bottom: 1px solid;
}
#content img.border {
  padding: 10px;
  border: 1px solid #ececec;
  background: #fff;
}
#content description {
  font-size: 10px;
}
/*
	
  FOOTER
  ------

*/.footer {
  min-height: 20px;
  padding: 20px;
  margin-bottom: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  background-color: #BDC3C7;
  /* fallback color for ie 8 */

  background-color: rgba(42, 42, 42, 0.26);
}
.footer > .container > .row-fluid > .span3 {
  color: #000000;
}
.footer > .container > .row-fluid > .span5 {
  color: #000000;
}
.footer > .container > .row-fluid > .span5 {
  color: #000000;
}
.wellsmoke {
  min-height: 20px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #BDC3C7;
  /* fallback color for ie 8 */

  background: #BDC3C7;
  /* fallback color for ie 8 */

  background-color: rgba(42, 42, 42, 0.26);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.wellsmoke .span3,
.wellsmoke .span4,
.wellsmoke .span5 {
  margin-bottom: 1.5em;
  text-align: center;
  color: #000000;
}
/*
	
  BOOTSTRAP OVER-WRITES
  --------- * ---------

*/.container-fluid {
  padding-right: 0;
  padding-left: 0;
  *zoom: 1;
}
.well {
  min-height: 7em;
  padding: 1.2575em;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
