.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
.sidebar-nav {
  margin-bottom: 2em;
  background-color: #1b557a;
  color: #ffffff;
}
.sidebar-nav ul li {
  list-style-type: none;
}
.sidebar-nav ul li {
  list-style-type: none;
}
.sidebar-nav li a:hover {
  position: relative;
  padding: 10px 15px;
  color: #20638f;
}
.sidebar-nav li:after {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.sidebar-nav li a {
  display: block;
  line-height: 1em;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-decoration: none;
}
.sidebar-nav li {
  height: 100%;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}
.sidebar-nav li a:hover {
  background-color: #ffffff;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.sidebar-nav li a:after,
a:hover {
  color: #ffffff;
}
.multilevel-linkul-0 {
  background-color: #20638f;
}
.multilevel-linkul-1 {
  background-color: #2472a4;
}
.multilevel-linkul-2 {
  background-color: #2980b9;
}
.multilevel-linkul-3 {
  background-color: #2e8ece;
}
.multilevel-linkul-4 {
  background-color: #409ad5;
}
.multilevel-linkul-5 {
  background-color: #55a5d9;
}
/* BEGIN table A to Z*/
table.atoz {
  color: #333333;
  border-width: 1px;
  border-color: #bdc3c7;
}
table.atoz th {
  padding: 1em;
  background-color: #2980b9;
  color: #ffffff;
  border-width: 1px;
  border-style: solid;
  font-weight: bold;
  font-size: 16px;
}
table.atoz th.department {
  width: 40%;
}
table.atoz th.phone {
  width: 30%;
}
table.atoz td {
  padding: 10px;
  border-bottom: 0.1em;
  border-color: #95a5a6;
}
table.atoz td.letter {
  width: 100%;
  border-bottom: none;
}
/* BEGIN table Data Table */
table.datatable {
  color: #333333;
  border-width: 1px;
  border-color: #95a5a6;
  border-collapse: collapse;
  margin-bottom: 20px;
}
table.datatable th {
  border-width: 1px;
  padding: 10px;
  border-style: solid;
  border-color: #95a5a6;
  background-color: #bdc3c7;
}
table.datatable td {
  border-width: 1px;
  padding: 10px;
  border-style: solid;
  border-color: #95a5a6;
  background-color: #ffffff;
}
/* END table Data Table */
/* BEGIN table Background Table */
table.backgroundtable {
  color: #333333;
  padding: 10px;
  border-width: 1px;
  border-color: #bdc3c7;
  border-collapse: collapse;
  margin-bottom: 20px;
}
table.backgroundtable th {
  background-color: #ecf0f1;
  border-width: 1px;
  padding: 10px;
  border-style: solid;
  border-color: #bdc3c7;
}
table.backgroundtable tr {
  background-color: #ecf0f1;
}
table.backgroundtable td {
  border-width: 1px;
  padding: 10px;
  border-style: solid;
  border-color: #ecf0f1;
}
/* END table Background Table */
/* BEGIN table Meetings Table */
table.meetingstable {
  color: #333333;
  border-width: 1px;
  border-color: #95a5a6;
}
table.meetingstable th {
  background-color: #2980b9;
  color: #ffffff;
  border-width: 1px;
  padding: 10px;
  border-style: solid;
  border-color: #95a5a6;
}
table.meetingstable tr {
  padding: 10px;
}
table.meetingstable td {
  padding: 10px;
  border-bottom: 0.1em solid #ecf0f1;
}
/* END table Meetings Table */
/* BEGIN table Staff Directory */
table.staffdirectory {
  padding: 10px;
  color: #333333;
  border-width: 1px;
  border-style: solid;
  border-color: #999999;
  border-collapse: collapse;
  margin-bottom: 10px;
}
table.staffdirectory th {
  background-color: #0C1F3F;
  color: #ffffff;
  text-align: left;
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #999999;
  border-collapse: collapse;
}
table.staffdirectory tr {
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #bdc3c7;
  border-collapse: collapse;
}
table.staffdirectory td {
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #bdc3c7;
  border-collapse: collapse;
}
/* END table Staff Directory */
/* BEGIN table CVA Table */
table.cvatable {
  color: #FFF;
  background-color: #008DA9;
  border: 5px solid white;
  margin-bottom: 10px;
}
table.cvatable th {
  color: #FFF;
  font-size: 26px;
  background-color: #008DA9;
  padding: 20px;
}
/* END table Background Table */
/* BEGIN table Caption */
table.caption {
  margin: 20px;
  padding: 10px;
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
.actionHeader {
  vertical-align: top;
  box-sizing: border-box;
  padding-bottom: 2%;
  padding-top: 2%;
  color: white;
  text-align: center;
  font-weight: 100;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}
p.actionHeader {
  padding: 10%;
  line-height: 1.25em;
  font-height: 2em;
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 1.755em;
  text-transform: uppercase;
  min-height: 90px;
}
.actionHeader.news {
  background-color: #3498DB;
}
.actionHeader.applynow {
  background-color: #1ABC9C;
}
.actionHeader.give {
  font-size: 1.2em;
  background-color: #2980B9;
}
.actionHeader.events {
  background-color: #F39C12;
}
.homepage-caption {
  font-size: 4em;
}
.homepage-caption h1 {
  color: white;
}
.homepage-caption {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  overflow: hidden;
  max-height: 600px;
}
.homepage-caption h4,
.homepage-caption p {
  color: #ffffff;
  position: absolute;
  padding: 0.555em;
  line-height: 1.15em;
  left: 0;
  right: 0;
  bottom: 0;
  background: #333333;
  background: rgba(0, 0, 0, 0.55);
  margin-bottom: 0;
  padding: 10% 33% 10% 10%;
}
.homepage-caption h4 {
  margin: 0 0 5px;
}
.homepage-caption img {
  width: 100%;
}
.homepage-caption p {
  font-size: 16.099999999999998px;
  font-weight: 200;
  line-height: 1.4;
  padding: 1.5em;
}
.lead {
  font-size: 16.099999999999998px;
  font-weight: 200;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}
.testimonial img {
  width: 100%;
  max-width: 100%;
  /* ie */

}
.navbar-inverse {
  padding-left: 0.55em;
  padding-right: 0.55em;
}
.nav.navbar-nav .input-group-btn {
  padding-left: 20%;
}
.input-group-btn.open > ul > li > a:hover {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  background: #003663;
}
.btn.btn-default.dropdown-toggle {
  border-color: #003663;
}
.toolbar {
  background-color: #ffffff;
}
.toolbar ul li:hover {
  background-color: #ecf0f1;
  color: #ffffff;
}
.mainNavigation {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
  margin-button: 1em;
}
.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: #bcbaba;
}
.input-group-btn a {
  color: #bcbaba;
}
button.btn.btn-default.dropdown-toggle,
.open > a,
button.btn.btn-default.dropdown-toggle,
.open > a:hover,
button.btn.btn-default.dropdown-toggle,
.open > a:focus {
  color: #ffffff;
  background-color: #080808;
}
button.btn.btn-default.dropdown-toggle {
  background: none;
}
.navbar-search-form {
  padding-top: 0.5em;
  padding-left: 3.5em;
}
.actionHeader.applynow,
.actionHeader.give {
  text-transform: uppercase;
  font-stretch: condensed;
  color: white;
  height: 150px;
  margin-bottom: 0;
  word-spacing: normal;
}
.actionHeader.applynow {
  font-size: 3.5em;
  font-weight: lighter;
  padding-top: 0.25em;
  letter-spacing: 0.15px;
  background-color: #1abc9c;
}
.actionHeader.give {
  font-size: 2.5em;
  font-weight: lighter;
  padding-top: 0.35em;
  letter-spacing: 0.45px;
  background-color: #2980b9;
}
.actionHeader.events {
  background-color: #c0392b;
}
.actionHeader.news {
  background-color: #3498db;
}
.homepage-hero {
  padding: 0 1.2575em 0 1.2575em;
  margin: 0 auto;
}
.homepage-caption .clickable {
  padding: 0 !important;
  margin: 0 auto;
}
.homepage-hero .clickable.col-12.col-lg-6,
.clickable.col-lg-3.visible-lg {
  padding: 0 0.25em 0 0.25em;
}
.lead {
  padding: 1.5em;
}
.firstLead {
  font-size: 16.099999999999998px;
  font-weight: 200;
  line-height: 1.4;
  padding: 1.5em;
  font-size: x-large !important;
}
.secondLead {
  font-size: 16.099999999999998px;
  font-weight: 200;
  line-height: 1.4;
  padding: 1.5em;
  font-size: 14px !important;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* Styles */
  .nav.navbar-nav .input-group-btn {
    padding-left: 5%;
  }
  .actionHeader.applynow,
  .actionHeader.give {
    padding-top: 0;
    height: 100%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 776px) {
  .nav.navbar-nav .input-group-btn {
    padding-left: 5%;
    padding-right: 0;
  }
  .navbar-inverse {
    padding-left: 5%;
    padding-right: 0;
  }
  .input-group-btn {
    padding-left: 0;
    padding-top: 0.555em;
    float: none;
  }
  .campus-info p {
    padding-top: 1em;
  }
  .navbar-search-form {
    float: none;
    display: block;
    margin: 0;
    padding: 0;
  }
  .input-group-btn {
    padding-top: 0.555em;
    float: none;
  }
  .campus-info p {
    padding-top: 1em;
  }
  .msudenver_logo img {
    max-width: 320px;
    padding-top: 1em;
    padding-bottom: 2em;
    margin-left: 1em;
    margin-right: 1em;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 480px) and (max-width: 650px) {
  
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
  
}
@media only screen and (min-width: 768px) and (max-width: 1280px) {
  
}
body {
  background: url(data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAABQAAD/7gAOQWRvYmUAZMAAAAAB/9sAhAACAgICAgICAgICAwICAgMEAwICAwQFBAQEBAQFBgUFBQUFBQYGBwcIBwcGCQkKCgkJDAwMDAwMDAwMDAwMDAwMAQMDAwUEBQkGBgkNCwkLDQ8ODg4ODw8MDAwMDA8PDAwMDAwMDwwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAz/wAARCABJAEkDAREAAhEBAxEB/8QAgQAAAwEBAQEAAAAAAAAAAAAAAQIDBAAFCQEBAQEAAAAAAAAAAAAAAAAAAAECEAACAQICBwQGBwcFAAAAAAABAgMAESESMUFRYSITBHEyQlKRsdGSIzNicsLScxRUgcHh8UNTY7KToyQ0EQEBAQEBAQAAAAAAAAAAAAAAEQFBITH/2gAMAwEAAhEDEQA/APsVnwkwHfx4batmGyglC+WE3QXJk27Cf3UFHkYwSjhXGQnDUrEb6JU8zgmxB4DfgGGHZvoVaENy5MqkBVYXEQON91AJlvHICLcTaYV/tNuoqiqCiDKjkHTyRo5kdBndU/KxDloLjvcnsGq9EUYgc3BNJA4WAt6KGtWVtsXuUREvADMt3Y8weFbXsd9FQBgPT5jbEsBdFwuu47zRVpVhYSAlOJZTm5a+c76DhGhzMjRkcs4ZcTh276B1QBZcYcrE2utrEndQdMlkAJia7PoJGAjaiKIpvgqAZRe0p/uLvofGGXOIemvCt2STESG2BW2INFO4N2ARblm/qNtH06JHo8W1v9xvvUTxJ5IubIDK3zRgFtoHZRWYyQjpbmaTBb4jbbdQNI0Vj8UEBXwI2k7qCSSQgC5BbKe7h6qBi8YicrpLDEtfXQg9Q0RQZgpu8msa1Iops0VnOVQRbHDRmBoMkphHT9EC0akiTy6wu2iHzdOZFLTKMzyWAEeNsug0GzP0v6gf8fsorpDGJpLSLcSC/G/lOHdomozW/KrZl+WMQz7NeiiEZlu6gr3G0Z9JY6aNBHK4DWuVC6MfbRNDPKI3OQ4ldZG/fQVeSS0YsLkyG3YP40NVL3JPLVrtgLkYW7RRUpCuXp1MEV0El8zkYWHbRHGRM3TqYI7lnNsy7t1Fa+b0/wCnX3l9lE8QmZhJKwDWzg8JQ+E6MKKlISIFupJCDhOTZ/KiHABKkKAbC3ysbtvFCpRnhsAvEtj8saDbUKGi7BkkXKtwwyk8vy9g2UU8gsImGW2VyCQh1LqAoFCuGUALjlJ+FtA3aqJ0k8cmdAMFJkXCMY+lTqodKwk5sGK2XMbWUbN1Dw35g7E9K/dolaG5Bf5ytmIJNzoy2oscywctQJkzC4N82pRuNFBQmaG08ZJEZXE44X10EVVbQ8cR0i99V8MTRKDG6TZZkIDAWuvl/ZRVGLnKoZTwEju+Idu6gZ1YkXUaEPh1W2GiYUpKJcpXBZWF8NB3XopGWUOlo2sAbkAayaDH/wBnySe6fbRl6+RGKYyAsx4RhpBoviLxpmiAmI+I1wWN+4KEOIbydPeVbDlC7H6J2igmkIsDmjawJDBh5qAFRaQcGLXJJAvcDdRTMGtGxMfcwHCdZ3UToyX5iqXitZb4qMSvZRWeSYibqAZIRkkON0Ou19F6IBYZLiWFuEG4K6yTQqfN/wAkHpWiLRxRF1+YSHuoMSAaDuooGKLMo4jaVwLpH5bbqEUSNOd0t8wDGMYolu42u9AsIvDFlJOZWtmVMRmGsXoHPOIYBvGQxCruoDJzvg8RGBuGVcbsdlFPKsoeQjKbMmNhfuncdlE1nKOJZiSLPMwwQi2O6imMaFSxjsCqixQ6r7qA5I/JH7poKJJZkuG0nwNja/0qIRpk4CRbNK/hN+7vagKunP6PE3JXKVQDwttegERBgiLJfLHgTl146C1FBTCRfIuLf4xr+saI6TLeIApe4sM0Y0s2ygvKylpwDGSHW4cp5W3UEGZRIbywgmcnKMhOJ7DjQUxET/HiBVVAF1G061tQDMf1UfvR/dooJ8uP6zeujKDfLH4zfao00Q9/pPqj1NROk6b/AMidgop20n6/2hROKN/R7Y/9Roqc+nqfxV+1RMTl7034hopx3ZuyP1UTGuiv/9k=);
}
.clickable {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Open Sans, helvetica, arial, sans-serif;
}
h1 {
  padding-left: 0.5em;
  color: #7f8c8d;
  font-size: 2.2em;
  font-weight: 200;
  margin-left: 10px;
  text-transform: uppercase;
}
h2 {
  color: #2c3e50;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 2px;
}
h3 {
  color: #2980b9;
  font-size: 1.8em;
  font-weight: 400;
  margin-bottom: 4px;
  margin-top: 2px;
}
h4 {
  color: #3498db;
  font-size: 18px;
  font-weight: 500;
  margin-top: 4px;
}
h5 {
  color: #2c3e50;
  font-size: 16px;
  font-weight: 500;
}
h6 {
  color: #e74c3c;
  font-size: 13px;
  font-weight: 500;
}
body {
  font-family: Open Sans, helvetica, arial, sans-serif;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  /* !!!remark: body background image loaded via data url scheme */

}
a {
  color: #1b557a;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #20648f;
  text-decoration: underline;
}
.siteheader {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 0.125em solid #bdc3c7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  border-bottom: 1em solid #f39c12;
}
.siteheader .h1 {
  color: #7f8c8d;
  font-size: 1.5em;
}
.msudenver_logo img {
  width: 350px;
  padding-top: 2em;
  padding-bottom: 2em;
}
.quick-navbar-responsive-collapse ul li {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.breadcrumbs {
  color: #2c3e50;
  margin-bottom: 20px;
  margin-left: 20px;
  font-weight: 500;
}
.footer {
  min-height: 20px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgba(42, 42, 42, 0.26);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.footer p {
  color: #00447c;
}
.col-lg-4.col-sm-6.campus-info {
  color: red;
}
.readmore {
  text-align: right;
  margin-top: 10px;
}
.sup {
  font-size: 80%;
  vertical-align: top;
}
.sub {
  font-size: 80%;
  vertical-align: bottom;
}
.image_caption {
  font-size: 12px;
  line-height: 19px;
  color: #73787e;
}
.bordered {
  border: 5px solid white;
  box-shadow: 0 0 2px #AAAAAA;
  padding: 9px;
  border: 1px solid #ececec;
}
.HighlightBox hr {
  border: 0;
  height: 0.059em;
  background-color: #ffffff;
  color: #ffffff;
  margin: 0.65em 0;
}
.content {
  min-height: 7em;
  padding: 1.2575em;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
#content a {
  color: #1b557a;
  text-decoration: none;
}
#content a:hover {
  color: #20648f;
  border-bottom: 1px solid;
}
#content img.border {
  padding: 10px;
  border: 1px solid #ececec;
  background: #fff;
}
#content description {
  font-size: 10px;
}
.well {
  min-height: 7em;
  padding: 1.2575em;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
img {
  max-width: 100% !important;
}
.nav-header {
  color: #ffffff;
}
li.active > a {
  background-color: #ecf0f1 !important;
  color: black !important;
}
.form-control {
  width: 80%;
}
.navbar-inverse {
  background-color: #003663;
}
.navbar-inverse .navbar-nav > .open {
  background-color: #2c3e50;
}
.dropdown-menu > li > a:hover {
  background-color: #003663;
}
.container-fluid {
  padding-right: 0;
  padding-left: 0;
  *zoom: 1;
}
.no-csstransforms .triangle,
.no-csstransforms3d .triangle,
.no-csstransitoins .triangle,
.firefox .triangle {
  display: none;
}
.toolbar {
  background-color: #ffffff;
}
.toolbar ul li:hover {
  background-color: #ecf0f1;
  color: #ffffff;
}
