h1 {
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
}
h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 2px;
}
h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px;
}
h4 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 4px;
}
h5 {
  font-size: 16px;
  font-weight: 500;
}
h6 {
  font-size: 13px;
  font-weight: 500;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
}
a {
  color: #1b557a;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #20648f;
  text-decoration: underline;
}
.footer > .container > .row-fluid > .span3 {
  color: #000000;
}
.footer > .container > .row-fluid > .span5 {
  color: #000000;
}
.footer > .container > .row-fluid > .span5 {
  color: #000000;
}
.readmore {
  text-align: right;
  margin-top: 10px;
}
.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: #bcbaba;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.msudenver_logo img {
  max-width: 350px;
  padding: 2em;
}
.siteheader {
  padding: 20px;
  background-color: #3498DB;
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.siteheader h1 {
  margin-bottom: 10px;
  color: #ffffff;
}
.well {
  min-height: 7em;
  padding: 1.2575em;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.wellsmoke {
  min-height: 20px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgba(42, 42, 42, 0.26);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.wellsmoke .span3,
.wellsmoke .span4,
.wellsmoke .span5 {
  margin-bottom: 1.5em;
  text-align: center;
  color: black;
}
/* Newsroom Formatting */
.story_preview {
  border: solid silver 1px ;
}
.story_preview {
  padding: 15px;
}
.story_preview:nth-child(odd) {
  background-color: #f0f0f0;
}
.story_preview:nth-child(even) {
  background-color: white;
}
/* Content Formatting */
.content {
  min-height: 7em;
  padding: 1.2575em;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
#content a {
  text-decoration: none;
  color: #2980B9;
}
#content a:hover {
  border-bottom: 1px solid;
}
#content img.border {
  padding: 10px;
  border: 1px solid #ececec;
  background: #fff;
}
#content description {
  font-size: 10px;
}
#content div.pageLinks img {
  padding: 0px !important;
  border: 0px!important;
  background: none!important;
}
#content img.noborder {
  padding: 0px!important;
  border: 0px!important;
  background: none!important;
}
