.sidebar-nav {
  margin-bottom: 2em;
  background-color: #1b557a;
  color: #ffffff;
}
.sidebar-nav li,
a {
  color: #ffffff;
  display: block;
}
.sidebar-nav a {
  color: #ffffff;
}
.sidebar-nav li a:hover {
  background-color: #7f8c8d;
}
.sidebar-nav ul li ul li {
  background-color: #DDDDDD;
  margin-left: -10px;
  padding-left: 20px;
}
.sidebar-nav ul li ul li ul li {
  background-color: #EEEEEE;
  margin-left: -20px;
  padding-left: 30px;
}
.sidebar-nav ul li ul li ul li ul li {
  background-color: #000000;
  margin-left: -30px;
  padding-left: 40px;
}
.sidebar-nav ul li ul li a {
  color: black;
}
.currentbranch0 a {
  display: block;
}
.currentbranch1 {
  font-weight: bold;
  display: block;
}
.currentbranch2 {
  font-weight: bold;
  display: block;
}
.currentbranch3 {
  font-weight: bold;
  display: block;
}
.currentbranch4 {
  font-weight: bold;
  display: block;
}
