<div class="container">
	<div class="row footer">
		<div class="col-lg-12">
			<div class="col-lg-4 col-sm-12" >
				<img class="clickable" src="../assets/webicons/images/fc-webicon-facebook.png" alt="Facebook Logo" data-href="#">
				<img class="clickable" src="../assets/webicons/images/fc-webicon-twitter.png" alt="Twitter Logo" data-href="#">
				<img class="clickable" src="../assets/webicons/images/fc-webicon-youtube.png" alt="YouTube Logo" data-href="#">
				<img class="clickable" src="../assets/webicons/images/fc-webicon-flickr.png" alt="Flickr Logo" data-href="#">
				<br>
				<!-- <a href="/socialmedia">Social Media Directory</a> -->
			</div>
			<div class="col-lg-4 col-sm-6 campus-info">
				<p>
					Telephone 303-556-2400
					<br>Auraria Campus Police 303-556-5000
					<br>Inclement Weather Line 303-556-2401
				</p>
			</div>
			<div class="col-lg-4 col-sm-6">
				<p>
					<a href="/contact">CONTACT US</a>
					| 
					<a href="/sm">© Metropolitan State University of Denver</a>
					<a href="/privacy">Privacy Statement</a>
					<a href="/alumni">State of Colorado's Transparency Online Project (TOP)</a>
				</p>
			</div>
		</div>
	</div>
</div>