<!-- <div class="container"> 
	<div class="row">
		
		<div class="navbar col-lg-6 col-sm-6 col-push-6 toolbar col-12">
            <ul class="nav navbar-nav">
              <li><a href="/a_to_z/">A-Z</a></li>
              <li><a href="/connectu/">ConnectU</a></li>
              <li><a href="http://library.auraria.edu/">Library</a></li>
              <li><a href="/maps/">Maps</a></li>
              <li><a href="/student/"><strong>Current Students</strong></a></li>
              <li><a href="/facstaff/"><strong>Faculty &amp; Staff</strong></a></li>
            </ul>
        </div>
      
        <div class="msudenver_logo col-lg-3 col-12 col-sm-6 col-pull-6">
            <img class="clickable" src="../assets/branding/MSUDenver_Formal.gif" alt="MSU Denver Formal Logo" data-href="http://msudenver.edu">
		</div>
        <div class="msudenver_logo col-lg-3 col-12 col-sm-6 col-pull-6">
            <img class="clickable" src="<t4 type='media' id='60273' formatter='image/path'/>" alt="MSU Denver Formal Logo" data-href="http://msudenver.edu">
        </div> 
	</div>
</div> 
 -->

<div class="container"> <!-- Logo and QuickLInks -->
    <div class="row"> 
        <!-- toolbar -->
        <div class="navbar toolbar col-12 col-sm-7 col-lg-7 col-push-5">
            <!-- Quick Links navbar-toggle -->
            <a class="navbar-brand visible-sm">Quick Links</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".quick-navbar-responsive-collapse">                           
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Quick Links Navbar-toggle -->
            <div class="container nav-collapse collapse quick-navbar-responsive-collapse">
                <ul class="nav navbar-nav ">
                    <li><a href="/a_to_z" >A-Z</a></li>
                    <li><a href="/connectu">ConnectU</a></li>
                    <li><a href="http://library.auraria.edu">Library</a></li>
                    <li><a href="/maps">Maps</a></li>
                    <li>
                        <a href="/student/" ><strong>Current Students</strong></a>  
                    </li>
                    <li>
                        <a  href="/facstaff/"><strong>Faculty &amp; Staff</strong></a>
                    </li>
                    <li>
                        <a data-toggle="collapse" href="#quicksearch"><span class="glyphicon glyphicon-search"></span><strong><em>  Search </em>
                        </strong></a>
                    </li>
                </ul> 
                <div id="quicksearch" class="collapse col-12">  
                    <form action="http://msudenver.edu/a_to_z/search/" class="navbar-form form-inline">
                        <input type="hidden" name="cx" value="004867254463714202705:1ammfpknuzw">
                        <input type="hidden" name="cof" value="FORID:11">
                        <input type="hidden" name="ie" value="UTF-8">
                        <input type="search" name="q" class="form-control">
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                    </form>
                </div>
            </div><!-- /.nav-collapse -->
        </div><!-- /.container -->
        
        <!-- logo -->
        <div class="msudenver_logo col-12 col-sm-5 col-lg-5 col-pull-7">
            <img class="clickable" src="../assets/branding/MSUDenver_Formal.gif" alt="MSU Denver Formal Logo" data-href="http://msudenver.edu">
        </div>
    </div><!-- /.row -->
</div><!-- /.container -->