<div class="container"> 
	<div class="row">
		<!-- toolbar -->
		<div class="navbar col-lg-6 col-sm-6 col-push-6 toolbar col-12">
            <ul class="nav navbar-nav">
              <li><a href="/a_to_z/">A-Z</a></li>
              <li><a href="/connectu/">ConnectU</a></li>
              <li><a href="http://library.auraria.edu/">Library</a></li>
              <li><a href="/maps/">Maps</a></li>
              <li><a href="/student/"><strong>Current Students</strong></a></li>
              <li><a href="/facstaff/"><strong>Faculty &amp; Staff</strong></a></li>
            </ul>
        </div>
        <!-- logo -->
        <div class="msudenver_logo col-lg-3 col-12 col-sm-6 col-pull-6">
            <img class="clickable" src="../assets/branding/MSUDenver_Formal.gif" alt="MSU Denver Formal Logo" data-href="http://msudenver.edu">
		</div>
        <!-- <div class="msudenver_logo col-lg-3 col-12 col-sm-6 col-pull-6">
            <img class="clickable" src="<t4 type='media' id='60273' formatter='image/path'/>" alt="MSU Denver Formal Logo" data-href="http://msudenver.edu">
        </div> -->
	</div>
</div>

