
/*
 * IE6 Fixes
 */


.eventMonthDay { width: 90px; }
.eventYear { width: 90px; }

#megaMenu li { width: 117px;}

#footerContactDetails address { font-style: normal;}




#homepageMainContent { padding-top:620px; }

.twoColumnContainer { position: relative; }
.twoColumnLeftColumn { height:398px; }
.twoColumnRightColumn { width: 290px; height:398px; }
.rightColumn {
	width:300px; height:398px; padding:10px;
	float:right; position: absolute;
	background:url(../images/columnBackground.jpg) no-repeat;}




* html #ravealert  {
	position: absolute;
	top: 400px; left: 0px;
}

#department-info .dept-links ul li { display: inline;}


/* IE6 PNG FIXES */
.footerOddBg { background: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/footerMenuOddBg.png', sizingMethod='scale');
}
.raveMobile { background: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/rave_mobilealert.png', sizingMethod='scale');
}

#primaryNav { background:url(../images/navBg-ie6.gif) no-repeat;}
#footerSearch input.footerSearch-btn { background: transparent url(../images/footer_search-btn_ie6.gif) 0px 0px no-repeat;}
#headerSearch input.headerSearch-btn  { background: transparent url(../images/header_search-btn_ie6.gif) 0px 0px no-repeat;}



