/*  Inherited 2011 Styles www.msudenver.edu main style MGW 092112 */

h1 {font-size:28px; margin-bottom:10px; color:#c50f3c;}
h2 {font-size:24px; margin-bottom:10px; line-height: 1.25; color:#002F5F;}
h3 {font-size:18px; margin-bottom:8px; color:#365F91;}
h4 {font-size:14px; color:#365F91;}
h4.promo_date{font-size:14px; color:#365F91; text-transform: uppercase;}
h4.EventLinkDescription {font-size:16px}
h5 {font-size:14px;}
h6 {font-size:12px; font-style:italic;}
h1 a, h2 a, h3 a, h4 a {
	color:black;
}


.hidden {
	position:absolute;
	left:-9999px;
}

.ar { text-align: right;}
.al { text-align: left;}
.ac { text-align: center;}
.clearing {clear:both;}


.image_caption {font-size: 12px;
		line-height: 19px;
		color: rgb(115, 120, 126);
}

.bordered {

	padding: 9px; border: 1px solid #ececec;
}






.pageLinks {
	float:right;
  	padding:5px;
  	width: 160px;
}

.pageLinks a:hover { border:none;}

#breadcrumbs {
	margin-bottom:15px;
	margin-top:5px;
	padding-left:8px;
}

/*------------------------------ Links ------------------------------*/

a {
	text-decoration:none;
	color:#4F639F;
}

a:hover {
	border-bottom: 1px solid;
}



#breadcrumbs {
	display:block;
}


#secondaryNav {
	background:url(/media/styleassets/images/secondaryNavDividerBg.gif) 0px 27px repeat-x #0C1F3F;
	border:5px solid white;
	margin-bottom:20px;
	box-shadow:0 0 2px #AAAAAA;
}

#secondaryNav li {
	line-height:27px;
	padding-left:10px;
}

#secondaryNav a {
	color:white;
	display:block;
}

#secondaryNav a:hover {
	background:url(/media/styleassets/images/activeArrow_trans.gif) right center no-repeat;
	border-bottom:none;
}

#secondaryNav ul li ul li {
	background-color:#DDDDDD;
	margin-left:-10px;
	padding-left:20px;
}
#secondaryNav ul li ul li ul li {
	background-color:#EEEEEE;
	margin-left:-20px;
	padding-left:30px;

}
#secondaryNav ul li ul li ul li ul li{
	background-color:#FFFFFF;
	margin-left:-30px;
	padding-left:40px;
}

#secondaryNav ul li ul li a {
	color:black;
}

#secondaryNav ul li ul li a:hover {
	background:url(/media/styleassets/images/thirdLevelNavHover.png) right center no-repeat;
}

.currentSection {
	font-size:18px;
	color:#AAAAAA;
	padding:5px 10px;
	display:block;
}

.currentbranch0 a {
	background:url(/media/styleassets/images/activeArrow_trans.gif) right center no-repeat;
	display:block;
}

.currentbranch1 {
	font-weight:bold;
	background:url(/media/styleassets/images/thirdLevelNavHover.png) right center no-repeat;
	display:block;
}

.currentbranch2 {
	font-weight:bold;
	background:url(/media/styleassets/images/thirdLevelNavHover.png) right center no-repeat;
	display:block;
}

/*------------------------------ Header -------------------------*/


/* Main Navigation */
#primaryNav {
	position:absolute;
	top:104px;
	left:-13px;
	width: 1004px;
	background:url(/media/styleassets/images/navBg.png) no-repeat;
	height:50px;
}

	#primaryNav ul {margin-left:26px; margin-top:25px;}

	#primaryNav li {
		display:block;
		width:135px;
		float:left;
		text-align:center;
	}


	#primaryNav li:nth-child(2) { width: 120px; }
	#primaryNav li:nth-child(5) { width: 125px; }
	#primaryNav li:nth-child(7) { width: 115px; }

	#primaryNav li a { font-weight: bold; color: #F1F1F1; font-size: 12px;}



/* Department Info   //  position: relative; top: -6px; left: -10px; width: 950px;  */
#department-info { display: block; }
	#department-info .dept-image { background: #FFFFFF; display: block;}

	#department-info .dept-links { background: #0C1F3F; }
	#department-info .dept-links ul { margin: 0px; padding: 5px 0 5px 0px;}
	#department-info .dept-links ul li { margin: 0px; padding: 5px 10px; display: inline;}
	#department-info .dept-links ul li a { color: #fff;}

	/* Department Left Navigation Colours */
	.department-red { background: #64000F !important;}
		.department-red  .currentSection { color:#fff !important; border-bottom: 1px solid #8F2334;}

	.department-darkgreen { background: #175F2F !important;}
		.department-darkgreen  .currentSection { color:#fff !important; border-bottom: 1px solid #175F2F;}

        .department-orange { background: #F47521 !important;}
		.department-orange  .currentSection { color:#fff !important; border-bottom: 1px solid #F47521;}

        .department-purple { background: #6C276A !important;}
		.department-purple  .currentSection { color:#fff !important; border-bottom: 1px solid #6C276A;}

	.department-brown { background: #954013 !important;}
		.department-brown  .currentSection { color:#fff !important; border-bottom: 1px solid #954013;}


/* Content Formatting */
#content ul,#content ol {  margin: 1.12em 0; }
#content ul { list-style-type: disc; margin-left: 40px; }
#content ol { list-style-type: decimal; margin-left: 40px; }
#content strong { font-weight: bold;}
#content a { color:#4F639F; }
#content p { margin: 0 0 10px 0;}



#content img { }
#content img.border { padding: 7px; border: 1px solid #ececec; background: #fff;}
#content description { font-size: 10px;}
#content div.pageLinks img { padding: 0px !important; border: 0px!important; background: none!important;}
#content div.infoBox img { padding: 0px!important; border: 0px!important; background: none!important;}
#content img.noborder{ padding: 0px!important; border: 0px!important; background: none!important;}
#content noborder{ padding: 0px!important; border: 0px!important; background: none!important;}



