/*!
 * Custom Style for MSU Denver
 * Copyright 2013 MSU Denver
 * http://www.msudenver.org
 */


body {
  margin: 0;
  font-family: cabin, source-sans-pro,muli, josefin-sans, open-sans, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
}

a {
    color: #8b8b8b;
    text-decoration: none;
}

.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: #bcbaba;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.well {
  min-height: 20px;
  padding: 14px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}


.siteheader {
  padding: 20px;
  background-color: #3498DB;
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.siteheader h1 {
  margin-bottom: 10;
  color: #ffffff;
}

.wellfooter {
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.wellsmoke {
  min-height: 20px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgba(42, 42, 42, 0.26);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}



.apply {
  min-height: 20px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fc4646;
  border: 1px solid #fc4646;
  border-width: 20px 0px 20px 20px;
  -webkit-border-radius: 20px, 0px, 20px 0px;
  -moz-border-radius: 4px, 10px, 10px 4px;
  border-radius: 4px, 10px, 10px 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}


.well-news {
  padding: 20px;
  background-color: #2ecbe8;
  border: 1px solid #2ecbe8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}


.well-events {
  padding: 20px;
  background-color: #e82e67;
  border: 1px solid #e82e67;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.navbar-search .search-query {
  margin-bottom: 0;
  padding: 4px 14px;
  font-family: inherit
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}


.nav-tabs > li > a,
.nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}