/*  Inherited 2011 Styles www.msudenver.edu main style MGW 092112 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.4;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Generic classes and styles used throughout the site ---------------------------------------*/
/* h1, h2, h3 {text-transform:uppercase;}  MSU Denver REQUEST: REMOVE UPPERCASE HEADERS */
h1 {font-size:28px; margin-bottom:10px; color:#c50f3c;}
h2 {font-size:24px; margin-bottom:10px; line-height: 1.25; color:#002F5F;}
h3 {font-size:18px; margin-bottom:8px; color:#365F91;}
h4 {font-size:14px; color:#365F91;}
h4.promo_date{font-size:14px; color:#365F91; text-transform: uppercase;}
h4.EventLinkDescription {font-size:16px}
h5 {font-size:14px;}
h6 {font-size:12px; font-style:italic;}
h1 a, h2 a, h3 a, h4 a {
	color:black;
}

p {line-height:1.4em;}


.hidden {
	position:absolute;
	left:-9999px;
}

.ar { text-align: right;}
.al { text-align: left;}
.ac { text-align: center;}
.clearing {clear:both;}

.sup {font-size:80%; vertical-align:top;} 
.sub {font-size:80%; vertical-align:bottom;}

.image_caption {font-size: 12px;
		line-height: 19px;
		color: rgb(115, 120, 126); 
}
.bordered {
	/* border:5px solid white; box-shadow:0 0 2px #AAAAAA; */
	padding: 9px; border: 1px solid #ececec;
}
	



.left {float:left; margin-right:5px; margin-bottom:5px;}
.right {float:right; margin-left:5px; margin-bottom:5px;}
.center {float:center; margin-bottom:5px;}


/* Info Box */ 
#content .infoBox { background: #E0E0E7; position: relative; margin: 20px 0px; zoom:1; min-height: 70px;
-moz-border-radius-bottomright: 10px;
border-bottom-right-radius: 10px;
-moz-border-radius-topleft: 10px;
border-top-left-radius: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-left-radius: 10px;
 
}
#content .infoBox .infoBox-title { background: #A1131B; width: 150px; min-height: 70px; display: table-cell; 
-moz-border-radius-topleft: 10px;
border-top-left-radius: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-left-radius: 10px; }
#content .infoBox .infoBox-title h3 { color: #fff; font-size: 1.4em; padding: 15px;}

#content .infoBox .infoBox-content { padding:5px 40px 5px 10px; display: table-cell;}
#content .infoBox .infoBox-content a { color: #002F5F;} 

.pageLinks {
	float:right;
  	padding:5px;
  	width: 160px;
}

.pageLinks a:hover { border:none;}

#breadcrumbs {
	margin-bottom:15px;
	margin-top:5px;
	padding-left:8px;
}

/*------------------------------ Links ------------------------------*/

a {
	text-decoration:none;
	color:#4F639F;
}

a:hover {
	border-bottom: 1px solid;
}




body {
	background:url(/media/styleassets/images/mainBg.gif) repeat-x;
	/* font-family: 'Verdana', Helvetica, Arial, sans-serif; */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	position:relative;
}

#container {
	width: 960px;
	margin: 0px auto;
}

#homepageMainContent, #mainContent {
	padding-bottom:600px;
}

#mainContent {
	padding-top:160px;
	padding-left:15px;
	padding-right:15px;
	background:url(/media/styleassets/images/pageStart.png) 0px 153px no-repeat;
}

#breadcrumbs {
	display:block;
}

#leftColumn {
	width:250px;
	float:left;
}

#leftColumn img {
	/* border:5px solid white; box-shadow:0 0 2px #AAAAAA; */
	padding: 5px; border: 1px solid #ececec;
}

#secondaryNav {
	background:url(/media/styleassets/images/secondaryNavDividerBg.gif) 0px 27px repeat-x #0C1F3F;
	border:5px solid white;
	margin-bottom:20px;
	box-shadow:0 0 2px #AAAAAA;
}

#secondaryNav li {
	line-height:27px;
	padding-left:10px;
}

#secondaryNav a {
	color:white;
	display:block;
}

#secondaryNav a:hover {
	background:url(/media/styleassets/images/activeArrow_trans.gif) right center no-repeat;
	border-bottom:none;
}

#secondaryNav ul li ul li {
	background-color:#DDDDDD;
	margin-left:-10px;
	padding-left:20px;
}
#secondaryNav ul li ul li ul li {
	background-color:#EEEEEE;
	margin-left:-20px;
	padding-left:30px;

}
#secondaryNav ul li ul li ul li ul li{
	background-color:#FFFFFF;
	margin-left:-30px;
	padding-left:40px;
}

#secondaryNav ul li ul li a {
	color:black;
}

#secondaryNav ul li ul li a:hover {
	background:url(/media/styleassets/images/thirdLevelNavHover.png) right center no-repeat;
}

.currentSection {
	font-size:18px;
	color:#AAAAAA;
	padding:5px 10px;
	display:block;
}

.currentbranch0 a {
	background:url(/media/styleassets/images/activeArrow_trans.gif) right center no-repeat;
	display:block;
}

.currentbranch1 {
	font-weight:bold;
	background:url(/media/styleassets/images/thirdLevelNavHover.png) right center no-repeat;
	display:block;
}

.currentbranch2 {
	font-weight:bold;
	background:url(/media/styleassets/images/thirdLevelNavHover.png) right center no-repeat;
	display:block;
}

/*------------------------------ Header -------------------------*/

#header {
	position:relative;
	z-index:3;
}

#logo {
	position:absolute;
	top:30px;
}


#logoprint {
	position:absolute;
	top:30px;
}


#logo a {border:none;}

#toolsMenu {
	position:absolute;
	top:0px;
	right:0px;
	height:26px;
	color: #fff;
}

#toolsMenu a {color:white;}

#toolsMenuLeftCorner {
	width:5px;
	height:26px;
	background-image:url(/media/styleassets/images/toolCurveLeft.gif);
	float:right;
}

#toolsMenuRightCorner {
	width:5px;
	height:26px;
	background-image:url(/media/styleassets/images/toolsCurveRight.gif);
	float:right;
}
#toolsMenu ul {float:right; background-color:#800013; padding-top:4px; height:22px;}
#toolsMenu li {display:inline; padding-left: 5px; padding-right:5px; border-left: 1px solid #fff;}
#toolsMenu li:first-child { border-left: none;}

#headerBuildings {
	position:absolute;
	right:-13px;
	top:26px;
	width:232px;
	height:96px;
	background:url(/media/styleassets/images/headerBuildings.png) no-repeat;
}

/* Header Search */
#headerSearch { width: 200px; position: absolute; right: 200px; top: 50px;}
	#headerSearch form { position: relative;}
	#headerSearch input.headerSearch-text { width: 150px; background: #999; border: 1px solid #747474; padding: 3px 4px; color: #ccc;}
	#headerSearch input.headerSearch-btn  { 
		position: absolute; top: -4px; right: 40px; 
		background: transparent url(/media/styleassets/images/header_search-btn.png) 0px 0px no-repeat;
		width: 33px; height: 38px; border: none; cursor: pointer;
	}


/* Main Navigation */
#primaryNav {
	position:absolute;
	top:104px;
	left:-13px;
	width: 1004px;
	background:url(/media/styleassets/images/navBg.png) no-repeat;
	height:50px;
}

	#primaryNav ul {margin-left:26px; margin-top:25px;}
	
	#primaryNav li {
		display:block;
		width:135px;
		float:left;
		text-align:center;
	}
	
	
	#primaryNav li:nth-child(2) { width: 120px; }
	#primaryNav li:nth-child(5) { width: 125px; }
	#primaryNav li:nth-child(7) { width: 115px; }
	
	#primaryNav li a { font-weight: bold; color: #F1F1F1; font-size: 12px;}
	
	li#megaMenuToggle { width: 40px; outline: none; }
	li#megaMenuToggle a { outline: none;}


/* Mega Menu */

#megaMenu {
	display:none;
	position:absolute;
	top:154px;
	width:960px;
	height:346px;
	padding-top: 10px;
	background:url(/media/styleassets/images/megaMenuBackground.png);
	z-index:3;
}

	#megaMenu li {
		width:127px;
		padding: 3px 5px;
		float:left; 
	}
	
	#megaMenu a {
		color: #fff !important;
	}
	
	#megaMenu h4 {
		color:white;
		margin-bottom:10px;
		padding-left:5px;
	}


/* See All Button */
.seeAllButton {
	width:300px;
	height: 27px;
	background: transparent url(/media/styleassets/images/seeAllButtonBackground.jpg) top left no-repeat;
	line-height:30px;
	text-align:center;
	font-size:16px;
	text-transform: uppercase;
	padding-top: 5px;
	position: absolute; bottom: 0px;
}

	.seeAllButton a { display: block; color:white; }
	.seeAllButton a:hover { text-decoration: underline; border: none;}
	
	.seeAllButtonL 	{ left: 10px;}
	.seeAllButtonR 	{ right: 10px}


/* Footer
------------------------*/
#footer hr { color: #687181; background: #687181; height: 1px; border: 0px; margin: 100px 0 20px 20px;}

#footerBackground {
	position:absolute;
	bottom:0px;
	width:100%;
	height: 550px;
	background:url(/media/styleassets/images/footerBg.jpg) repeat-x;
	z-index:1;
}

#footer {
	position:absolute;
	bottom:0;
	height: 550px;
	width:960px;
	z-index:2;
	overflow:hidden;
	font-size: 0.9em;
}

#footer h4 {font-weight:bold;}
#footer p {margin-top:5px; margin-bottom:15px;}

/* Footer Social Media */
#footerSocialMedia {
	width:256px; height:59px;
	padding:20px 0 0 20px;
	background-image:url(/media/styleassets/images/footerSocialMediaBg.jpg);
	position:absolute; top:0; left: 0; z-index:2;
}
	#footerSocialMedia li {display:inline; margin-left:5px;}
	#footerSocialMedia a { border: none;}


/* Footer Search */
	#footerSearch { position: absolute; right: 15px; top: 25px; width: 250px; }
	
	#footerSearch input.footerSearch-text { 
		background: #666 url(/media/styleassets/images/footer_search-bg.png); font-style: italic;
		outline: none; border: 0px; padding: 4px 4px; color: #ccc; width: 200px;
	}
	
	#footerSearch input.footerSearch-btn { 
		position: absolute; top: -4px; right: -10px;
		background: transparent url(/media/styleassets/images/footer_search-btn.png) 0px 0px no-repeat;
		width: 85px; height: 38px; border: none; cursor: pointer;
	}
		
			/* footer_search-bg.png */

/* Footer Contact */
#footerContactDetails {
	background:url(/media/styleassets/images/footerContactCorner.gif) top left no-repeat white;
	width:110px; height:400px;
	margin-top: 0;
	padding: 15px 5px;
	float:left;
		font-style: normal !important;
}
	#footerContactDetails a { color: #000;}
	#footerContactDetails h4 { padding: 0px; margin: 0px;}
	/* #footerContactDetails p { padding: 0px; margin: 0px;} */

/* Footer Menu*/
#footerMenu {
	margin-top: 0;
	width:840px; height:350px; float:right;
	color: #fff; background: 0px url(/media/styleassets/images/footerMenuBg.png) repeat-y;
}
	
	#footerMenu li {
		float:left; position: relative;
		width:104px; height:326px;
		padding:15px 8px;
	}
	
	#footerMenu ul li ul {  top: 50px; position: absolute; }
	#footerMenu ul li ul li { float:none; padding: 3px 0; height:auto;}
	
	#footerMenu a { color:white; }
	#footerMenu h4 { margin: 0px; padding: 0px; color: #fff; font-weight: bold; font-size: 1.1em;}

	.footerOddBg { background:url(/media/styleassets/images/footerMenuOddBg.png) repeat-x; }
	
	
	
	
	
	
/* Department Info   //  position: relative; top: -6px; left: -10px; width: 950px;  */
#department-info { display: block; }
	#department-info .dept-image { background: #FFFFFF; display: block;}
	
	#department-info .dept-links { background: #0C1F3F; }
	#department-info .dept-links ul { margin: 0px; padding: 5px 0 5px 0px;}
	#department-info .dept-links ul li { margin: 0px; padding: 5px 10px; display: inline;}
	#department-info .dept-links ul li a { color: #fff;}

	
	/* Department Left Navigation Colours */
	.department-red { background: #64000F !important;}
		.department-red  .currentSection { color:#fff !important; border-bottom: 1px solid #8F2334;}
		
	.department-darkgreen { background: #175F2F !important;}
		.department-darkgreen  .currentSection { color:#fff !important; border-bottom: 1px solid #175F2F;}
                
        .department-orange { background: #F47521 !important;}
		.department-orange  .currentSection { color:#fff !important; border-bottom: 1px solid #F47521;}
		
        .department-purple { background: #6C276A !important;}
		.department-purple  .currentSection { color:#fff !important; border-bottom: 1px solid #6C276A;}
                
	.department-brown { background: #954013 !important;}
		.department-brown  .currentSection { color:#fff !important; border-bottom: 1px solid #954013;}


/* Content Formatting */
#content ul,#content ol {  margin: 1.12em 0; }
#content ul { list-style-type: disc; margin-left: 40px; }
#content ol { list-style-type: decimal; margin-left: 40px; }
#content strong { font-weight: bold;}
#content a { color:#4F639F; }
#content p { margin: 0 0 10px 0;}
#content table tbody td h6 { padding: 10px;}


#content img { }
#content img.border { padding: 7px; border: 1px solid #ececec; background: #fff;}
#content description { font-size: 10px;}
#content div.pageLinks img { padding: 0px !important; border: 0px!important; background: none!important;}
#content div.infoBox img { padding: 0px!important; border: 0px!important; background: none!important;} 
#content img.noborder{ padding: 0px!important; border: 0px!important; background: none!important;} 
#content noborder{ padding: 0px!important; border: 0px!important; background: none!important;} 


form#t4_calendar div#categories{


}

#calendar{
  width:150px;

}

/*************************************************
 * calendar
 */

#t4_calendar {padding-top: 3px;}

#calendar .links {
	padding-left: 2px;
	padding-top: 5px;
	font-weight: bold;

}
#calendar .links a {
	font-weight: normal;
}


#calendar caption {
	display:none;
}

#calendarFilter {padding-top: 8px; padding-left: 25px;}

#calendar a {
	text-decoration:none;
	display:block;
	color: #666666;
	padding-right: 0.3em;
	padding-left: 0.3em;
padding-top: 0.3em;
padding-bottom: 0.3em;
	background: none;
border: 0.3em none;

}
#calendar a:hover, #calendar a:active{
	color:#ffffff;
	background:#666666;
}
#calendar th {
	font-weight: bold;
	color: #FFFFFF;
	background: #3d637b;
	padding:0.5em;
	border: 0.1em solid #3d637b;;

}
#calendar th a {
	color:#ffffff;
}
#calendar th a:hover, #calendar a:active {
	background: #3d637b;;
}
#calendar td {
	border: 0.1em solid #e3e3e3;
}

#calendar td.filterMainMonth {
	background-color: #e3e3e3;
}

#calendar table tbody tr td.filterMainMonth a.hasEvents {
background-color: #666666;
color: #fff;
}


#calendar td.filterPreMonth {
	background-color: #e3e3e3;
}

#calendar td.filterPostMonth {
	background-color: #e3e3e3;
}

#calendar td.mainMonth a {
	color: #ffffff;
}

#calendar td.postMonth a {
	color: silver;
}

#calendar td.preMonth a {
	color: silver;
}

#calendar td a:hover {
	color: white;
}

#calendarCategories {padding-top: 0px; padding-left: 3px; padding-bottom: 15px; padding-right: 5px;}


/*************************************************
 * calendarFilter
 */
 
#calendarFilter {
	font-size: 1em;
  padding-top:8px;
  text-align:center;
}

/*************************************************
 * search
 */
#search {

}

#calendarSearch {
padding:20px;


}

/*************************************************
 * categories
 */

#categories {
padding-left:20px;
  background;#ffffff;
}

#t4_calendar #categories {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 20px;
}
#categories fieldset{
padding-bottom:8px;
border: none;
	
}

#categories fieldset legend {
color: #0C1F3F;
font-weight: bold;
padding-top:20x;
padding-bottom:5px;
}


#categories div .mainCategory {
padding-top:5px;
padding-bottom:5px;

}

#categories div.subCategory {
margin-left: 2em;
padding-top:5px;
padding-bottom:5px;
}

#categories div.mainCategory .calendarCheckbox{
}

#categories .input #EventsSearch{
padding-top:5px;
padding-bottom:5px;
}



/*************************************************
 * calendarResults
 */

#calendarResults span.left {
	float: left;
}

#results span.right {
	float: right;
}

#calendarResults td.even {
background-color: #F7F7F7;
padding: 5px;
text-align: left;
vertical-align: top;
}

#calendarResults td.odd {
background-color: #E3E3E3;
padding: 5px;
text-align: left;
vertical-align: top;
}

#results p.result {
 font-size: medium;
 font-weight: bold;
text-align: left;
vertical-align: top;
	
}

#calendarResults td.even {
background-color: #ffffff;
padding: 5px;
text-align: left;
vertical-align: top;
}

#calendarResults td.odd {
background-color: #eeeeee;
padding: 5px;
text-align: left;
vertical-align: top;
}

#calendarResults table td {
background-color: #eeeeee;
padding: 3px;
}

#calendarResults table tr.even td {
background-color: #ffffff;
padding: 3px;
}

#calendarResults p.right {
text-align: right;
}

#calendarResults p.left {
text-align: left;
}

#calendarResults table.eventlist{
width: 90%;
border: 1px solid #CCCCCC;

}

.table_text th {
    margin: 0;
    padding: 10px !important;
    text-align: left !important;
    font-weight: bold;
}

#calendarResults td {
    
    padding: 10px!important;
    text-align: left;
    vertical-align: top;
}

.calendarHeader {
    font-size: 14px;
    font-weight: bold;
    padding-top: 15px;
}

#calendar table {
    background: #0C1F3F;
}

#t4_calendar {
    margin-left: 25px;
    margin-top: 10px;
    border: 1px solid #CCCCCC;
    padding: 18px 20px 20px;
}

#calendar th {
    border: 0.1em solid #FFFFFF;
    color: #FFFFFF;
    font-weight: bold;
    padding: 0.5em;
background:#0C1F3F!important;
}

#calendarFilter {
    padding-left: 0px;
    padding-top: 0px;
}


#calendarResults table {
    width: 95%;
    background: #fff;
}

#calendarResults table td {
background:#fff;
}

#calendarResults table tr {
    border: 1px solid #ccc;
}

#calbody{
padding:10px;
font-family: 'Open Sans', sans-serif;
border:1px solid #ccc;
font-size:100%;
background:url(/media/styleassets/images/tbk.gif) top repeat-x; 
width:600px;
}

#calbody h1{
padding:0px;
margin:0px;
color:#0c1f3f;
font-size:24px;
}

#calbody h2{
padding:0px;
margin:0px;
color:#f57521;
font-size:14px;
}

#calbody .row{
border-top:1px solid #e4e4e4;
padding-top:10px;
height:25px;
}

#calbody .row .head{
width:150px;
float:left;
color:0c1f3f;
font-weight:bold;
}

#calbody .row .entry{
width:450px;
float:left;
}

.blue {
    color: #0C1F3F!important;
    margin-right: 40px;
}

#calbody h1 {
    color: #0C1F3F;
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 7px;
    padding: 0;
}

#calbody p {
    padding: 10px 0 5px 0;
}

#caloader {
    padding: 20px;
}

#caloader h1 {
    color: #0C1F3F;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 7px;
}

#caloader ul{

}

#caloader ul li
{
padding:5px 0;
}

#caloader ul li a
{
padding:5px 0;
text-decoration:none;
word-wrap: break-word;
}



/***************SlideDownStyle*********************/



.dhtmlgoodies_question{	/* Styling question */
	/* Start layout CSS */
	color:#002F5F;
        font-size:14px;
	border:1px solid #317082;
	background: URL(/media/styleassets/images/arrowdown.png);
        background-repeat: no-repeat;
        background-position: right;
	width:100%;
	margin-bottom:2px;
	margin-top:2px;
	padding-left:10px;
  	height:20px;
	

	/* End layout CSS */

	overflow:hidden;
	cursor:pointer;
}
.dhtmlgoodies_answer{	/* Parent box of slide down content */
	/* Start layout CSS */
	border:1px solid #317082;
	background-color:#f0f2f5;
	width:100%;

	/* End layout CSS */

	visibility:hidden;
	height:0px;
	overflow:hidden;
	position:relative;

}
.dhtmlgoodies_answer_content{	/* Content that is slided down */
	padding:10px;
	position:relative;
}

/***************SlideDownStyle End*********************/


/***************SimpleGallery Beggining*********************/


<!--
#fullwidthTabXSubX {
background: URL();
height:180px;
}
#simplegallery2{
position: relative;
visibility: hidden;
}
#myvacation{
font-size:12px;
text-align: left;
font-style: italic;
padding-left:20px;
color:#014479;
}
.bg{
	background: url(http://www.msudenver.edu/camp/assets/images/shadow-1000x1000.gif) no-repeat right bottom;
	padding: 5px 5px 10px 10px;
}
-->

/***************SimpleGallery End*********************/


/***************Galleria Beggining*********************/

#galleria{ width: 100%; height: 500px; background: #000 }

/*************** Galleria End*********************/

/***************Zebra Stripe*********************/
.story_preview {
   border: solid silver 1px ;
} 
.story_preview{
  padding: 15px;
}
.story_preview:nth-child(odd) {
  background-color: #f0f0f0;
 }
.story_preview:nth-child(even) {
  background-color: white;
}

/*************** Zebra Stripe End*********************/