/*  Inherited 2011 Styles www.msudenver.edu main style MGW 092112 */




.hidden {
	position:absolute;
	left:-9999px;
}

.image_caption {font-size: 12px;
		line-height: 19px;
		color: rgb(115, 120, 126);
}

.bordered {

	padding: 9px; border: 1px solid #ececec;
}


.pageLinks {
	float:right;
  	padding:5px;
  	width: 160px;
}

.pageLinks a:hover { border:none;}

#breadcrumbs {
	margin-bottom:15px;
	margin-top:5px;
	padding-left:8px;
}

/*------------------------------ Links ------------------------------*/





#secondaryNav {
	background:url(/media/styleassets/images/secondaryNavDividerBg.gif) 0px 27px repeat-x #0C1F3F;
	border:5px solid white;
	margin-bottom:20px;
	box-shadow:0 0 2px #AAAAAA;
}

#secondaryNav li {
	line-height:27px;
	padding-left:10px;
}

#secondaryNav a {
	color:white;
	display:block;
}

#secondaryNav a:hover {
	background:url(/media/styleassets/images/activeArrow_trans.gif) right center no-repeat;
	border-bottom:none;
}

#secondaryNav ul li ul li {
	background-color:#DDDDDD;
	margin-left:-10px;
	padding-left:20px;
}
#secondaryNav ul li ul li ul li {
	background-color:#EEEEEE;
	margin-left:-20px;
	padding-left:30px;

}
#secondaryNav ul li ul li ul li ul li{
	background-color:#FFFFFF;
	margin-left:-30px;
	padding-left:40px;
}

#secondaryNav ul li ul li a {
	color:black;
}

#secondaryNav ul li ul li a:hover {
	background:url(/media/styleassets/images/thirdLevelNavHover.png) right center no-repeat;
}

.currentSection {
	font-size:18px;
	color:#AAAAAA;
	padding:5px 10px;
	display:block;
}

.currentbranch0 a {
	background:url(/media/styleassets/images/activeArrow_trans.gif) right center no-repeat;
	display:block;
}

.currentbranch1 {
	font-weight:bold;
	background:url(/media/styleassets/images/thirdLevelNavHover.png) right center no-repeat;
	display:block;
}

.currentbranch2 {
	font-weight:bold;
	background:url(/media/styleassets/images/thirdLevelNavHover.png) right center no-repeat;
	display:block;
}



/* Department Left Navigation Colours */
		.department-red { background: #64000F !important;}
		.department-red  .currentSection { color:#fff !important; border-bottom: 1px solid #8F2334;}

		.department-darkgreen { background: #175F2F !important;}
		.department-darkgreen  .currentSection { color:#fff !important; border-bottom: 1px solid #175F2F;}


		.department-orange { background: #F47521 !important;}
		.department-orange  .currentSection { color:#fff !important; border-bottom: 1px solid #F47521;}

        .department-purple { background: #6C276A !important;}
		.department-purple  .currentSection { color:#fff !important; border-bottom: 1px solid #6C276A;}

		.department-brown { background: #954013 !important;}
		.department-brown  .currentSection { color:#fff !important; border-bottom: 1px solid #954013;}






