/* 2011 Inherited Tables */


/* BEGIN table Data Table */
table.datatable {
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.datatable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.datatable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

/* END table Data Table */

/* BEGIN table Background Table */
table.backgroundtable {
	color:#333333;
        padding: 10px;	
        border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
table.backgroundtable th {
	background-color:#c3dde0;
	border-width: 1px;
	padding: 10px;
	border-style: solid;
	border-color: #a9c6c9;
}
table.backgroundtable tr {
	background-color:#d4e3e5;
}
table.backgroundtable td {
	border-width: 1px;
	padding: 10px;
	border-style: solid;
	border-color: #a9c6c9;
}
/* END table Background Table */

/* BEGIN table Meetings Table */
table.meetingstable {
        padding: 10px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;

}

table.meetingstable th {
	background-color:#0C1F3F;
	color: #ffffff;
        text-align: left;
	border-width: 1px;
	padding: 10px;
	border-style: solid;
	border-color: #a9c6c9;
}
table.meetingstable tr {
        padding: 8px;
}

table.meetingstable td {
	padding: 10px;
        border-bottom: 0.1em solid #E7E7E6;
	
}
/* END table Meetings Table */

/* BEGIN table Staff Directory */
table.staffdirectory {
        padding: 10px;
	color:#333333;
	border-width: 1px;
        border-style: solid;
	border-color: #999999;
	border-collapse: collapse;

}

table.staffdirectory th {
        background-color:#0C1F3F;
	color: #ffffff;	
        text-align: left;
	padding: 5px;
	border-width: 1px;
        border-style: solid;
	border-color: #999999;
	border-collapse: collapse;
}
table.staffdirectory tr {
        padding: 10px;
	border-width: 1px;
        border-style: solid;
	border-color: #999999;
	border-collapse: collapse;
}

table.staffdirectory td {
	padding: 10px;
	border-width: 1px;
        border-style: solid;
	border-color: #999999;
	border-collapse: collapse;
}
/* END table Staff Directory */


/* BEGIN table CVA Table */

table.cvatable {
	color: #FFF;
	background-color: #008DA9;
	border:5px solid white;
	margin-bottom:20px;
	box-shadow:0 0 2px #AAAAAA;
}

}
table.cvatable th {
	color: #FFF;
	font-size: 26px;
	background-color:#008DA9;
	padding: 10px;
	}
        
/* END table Background Table */


/* BEGIN table Caption */

table.caption {
  margin: 20px;
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
