<!-- build:remove -->
<div class="content-inner">


    <h2 style="font-size: 34pt;">Using the Showcase Documentation</h2>
    <p>Below you will find examples and a brief summary on the avaible content template Web Authors can use to style their content for their web page(s). The "Documentation Navigation" allows you to quickly jump to an example of the content template you
        are looking to create.</p>
    <p><strong>Don't know where to start?</strong> We have created some example pages <a href="#">found here</a>&nbsp;The examples use a variety of the parts listed below, to give Web Authors a better understanding of how content templates can look on a
        page together.</p>
    <div class="row">
        <div class="col-lg-6">
            <div class="alert alert-success">
                <br />
                <h4>Summary Information for each part will be displayed in boxes just like this one.</h4>
                <br />
                <br />
            </div>
        </div>
        <div class="col-lg-6">
            <div class="well"><strong>Questions or Technical Assistance:</strong>
                <br /> Marketing and Communications
                <br /> Metropolitan State University of Denver
                <br /> 303-352-4452 | FAX 303-556-5014</div>
        </div>
    </div>
</div>
<!-- DAV 08-27-13 -->
<div class="content-inner">


    <hr />
    <h1 style="padding-left: 0px !important; margin-left: 0px !important;"><a id="headings"></a>HEADINGS</h1>
    <hr />
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
    <div class="alert alert-success">
        <p>Headings are a great way to give an intro to the content you are about to display. Available to Web Authors via the "format" selection from the WYSIWYG editor, headings 2 through 6 can be selected for use.</p>
        <p><strong>Creating a Heading:</strong>
            <br />First select/highlight the desired heading text. Next choose your heading size from the "format" dropdown. Press return/enter to escape the current heading.</p>
    </div>
    <hr />
    <h1 style="padding-left: 0px !important; margin-left: 0px !important;"><a id="lists"></a>LISTS</h1>
    <hr />
    <div class="row">
        <div class="col-lg-6">
            <p><strong>Unordered List</strong> <span class="fa-stack fa-lg"> <em class="fa fa-square fa-stack-2x">&nbsp;</em> <em class="fa fa-list-ul fa-stack-1x fa-inverse">&nbsp;</em> </span>
            </p>
            <ul>
                <li>List Item #1</li>
                <li>List Item #2</li>
                <li>List Item #3</li>
                <li>List Item #4</li>
                <li>List Item #5</li>
                <li>List Item #6</li>
                <li>List Item #7</li>
            </ul>
        </div>
        <div class="col-lg-6">
            <p><strong>Ordered List</strong> <span class="fa-stack fa-lg"> <em class="fa fa-square fa-stack-2x">&nbsp;</em> <em class="fa fa-list-ol fa-stack-1x fa-inverse">&nbsp;</em> </span>
            </p>
            <ol>
                <li>List Item #1</li>
                <li>List Item #2</li>
                <li>List Item #3</li>
                <li>List Item #4</li>
                <li>List Item #5</li>
                <li>List Item #6</li>
                <li>List Item #7</li>
            </ol>
        </div>
    </div>
    <div class="alert alert-success">
        <p>Lists are available in two forms: Unordered and Ordered. Unordered list items are prefixed by a bullet (&bull;) while ordered lists will be prefixed with a number (1.) in descending order.</p>
        <p><strong>Creating a List:</strong>
            <br />If you have your list items on separate lines already, simply select/highlight desired list content and press either the bullet list or numeric list buttons on the editor. If you do not have list items already press bullet list or numeric
            list, then enter each list item followed by a return/enter to move on to the next item. Pressing return/enter twice will escape the current list.</p>
    </div>
    <hr />
    <h1 style="padding-left: 0px !important; margin-left: 0px !important;"><a id="blockquote"></a>BLOCKQUOTE</h1>
    <hr />
    <blockquote>
        <p><span>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis urna aliquam elit lacinia ultrices. Nulla non velit a odio lobortis bibendum. Vivamus euismod massa id enim aliquet mattis. Suspendisse potenti. Mauris et nibh et nisl tempus gravida. Sed ipsum nunc, commodo non ultrices et, placerat vel odio. Nullam magna turpis, facilisis eu mauris non, tincidunt pellentesque arcu. Duis lorem nibh, tincidunt vulputate aliquam aliquet, condimentum et nisl."</span>
        </p>
    </blockquote>
    <div class="alert alert-success">
        <p>Have a inspiring quote that aligns itself with your department? Use a blockquote to set it apart from the rest of your body content.</p>
        <p><strong>Creating a Blockquote:</strong>
            <br />To create a blockquote select/highlight desired quote text and click on the <span class="fa-stack fa-lg"><em class="fa fa-square fa-stack-2x">&nbsp;</em><em class="fa fa-quote-left fa-stack-1x fa-inverse">&nbsp;</em></span> icon from the editor.
            You will notice your text becomes indented. This means a block quote is in place.</p>
    </div>
    <hr />
    <h1 style="padding-left: 0px !important; margin-left: 0px !important;"><a id="alignment"></a>ALIGNMENT</h1>
    <hr />
    <div class="row">
        <div class="col-lg-3">
            <p><strong>Left</strong> <span class="fa-stack fa-lg"> <em class="fa fa-square fa-stack-2x">&nbsp;</em> <em class="fa fa-align-left fa-stack-1x fa-inverse">&nbsp;</em> </span>
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis urna aliquam elit lacinia ultrices. Nulla non velit a odio lobortis bibendum. Vivamus euismod massa id enim aliquet mattis. Suspendisse potenti. Mauris et nibh et nisl
                tempus gravida. Sed ipsum nunc, commodo non ultrices et, placerat vel odio.</p>
        </div>
        <div class="col-lg-3">
            <p><strong>Center</strong> <span class="fa-stack fa-lg"> <em class="fa fa-square fa-stack-2x">&nbsp;</em> <em class="fa fa-align-center fa-stack-1x fa-inverse">&nbsp;</em> </span>
            </p>
            <p style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis urna aliquam elit lacinia ultrices. Nulla non velit a odio lobortis bibendum. Vivamus euismod massa id enim aliquet mattis. Suspendisse potenti. Mauris et nibh et nisl
                tempus gravida. Sed ipsum nunc, commodo non ultrices et, placerat vel odio.</p>
        </div>
        <div class="col-lg-3">
            <p><strong>Right</strong> <span class="fa-stack fa-lg"> <em class="fa fa-square fa-stack-2x">&nbsp;</em> <em class="fa fa-align-right fa-stack-1x fa-inverse">&nbsp;</em> </span>
            </p>
            <p style="text-align: right;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis urna aliquam elit lacinia ultrices. Nulla non velit a odio lobortis bibendum. Vivamus euismod massa id enim aliquet mattis. Suspendisse potenti. Mauris et nibh et nisl
                tempus gravida. Sed ipsum nunc, commodo non ultrices et, placerat vel odio.</p>
        </div>
        <div class="col-lg-3">
            <p><strong>Justfiy</strong> <span class="fa-stack fa-lg"> <em class="fa fa-square fa-stack-2x">&nbsp;</em> <em class="fa fa-align-justify fa-stack-1x fa-inverse">&nbsp;</em> </span>
            </p>
            <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis urna aliquam elit lacinia ultrices. Nulla non velit a odio lobortis bibendum. Vivamus euismod massa id enim aliquet mattis. Suspendisse potenti. Mauris et nibh et nisl
                tempus gravida. Sed ipsum nunc, commodo non ultrices et, placerat vel odio.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="alert alert-success">
                <p>Alignment allows you to control the flow of your body text. Similar to other text editors four options are available: Left, Right, Center, Justify. Text will default to a left alignment unless otherwise specified.</p>
                <p><strong>Changing Alignment</strong>
                    <br />Select/highlight desired text and choose one of the four options: Left, Right, Center, or Justified. Text alignment can be used on headings and lists.</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="alert alert-danger">
                <p><strong>NOT FOR IMAGES</strong>
                    <br />To align an image, double-click the image and when prompted simply type "left" or "right" in the float field when prompted. This will allow the text to wrap around the image.</p>
            </div>
        </div>
    </div>
    <hr />
    <h1 style="padding-left: 0px !important; margin-left: 0px !important;"><a id="textStyles"></a>TEXT STYLES</h1>
    <hr />
    <div class="row" style="text-align: center; font-size: 24px;">
        <div class="col-lg-4"><strong>BOLD</strong>
        </div>
        <div class="col-lg-4"><em>ITALIC</em>
        </div>
        <div class="col-lg-4"><span style="text-decoration: underline;">UNDERLINED</span>
        </div>
    </div>
    <p>&nbsp;</p>
    <div class="row" style="text-align: center; font-size: 24px;">
        <div class="col-lg-6">Lorem<sub>SubScript</sub> dolor sit amet</div>
        <div class="col-lg-6">Lorem<sup>SuperScript</sup> dolor sit amet</div>
    </div>
    <p>&nbsp;</p>
    <div class="alert alert-success">
        <p>Bring emphasis to your text by utilizing some text styling options. The available options are standard to most text editors. Bold, Italic, Underline, Super Script, and Sub Script</p>
        <p><strong>Changing Text Style</strong>
            <br />Select/highlight desired text and choose one of the options: Bold, Italic, Underline, Super Script, and Sub Script. If the desired text is not present you can trigger these tools with keyboard shortcuts: ctrl + B / command + B for bold, crtl
            + I / command + I for italic, and ctrl + U / command + U for underline. Super and Sub scripts do not have keyboard shortcuts.</p>
    </div>
</div>
<!-- DAV 08-27-13 -->
<div class="content-inner">


    <hr />
    <h1 style="padding-left: 0px !important; margin-left: 0px !important;"><a id="tables"></a>TABLES</h1>
    <hr />
</div>
<!-- DAV 08-27-13 -->
<div class="content-inner">


    <div class="row">
        <div class="col-lg-6">
            <h5><strong>datatable</strong></h5>
            <table border="0" class="datatable" style="height: 275px; ; width: 400px;">
                <caption>Table Caption</caption>
                <tbody>
                    <tr>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <h5><strong>backgroundtable</strong></h5>
            <table border="0" cellpadding="0" cellspacing="0" class="backgroundtable" style="height: 275px; ; width: 400px;">
                <caption>Table Caption</caption>
                <tbody>
                    <tr>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <h5><strong>meetingstable</strong></h5>
            <table border="0" cellpadding="0" cellspacing="0" class="meetingstable" style="height: 275px; ; width: 400px;">
                <caption>Table Caption</caption>
                <tbody>
                    <tr>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <h5><strong>staffdirectory</strong></h5>
            <table border="0" cellpadding="0" cellspacing="0" class="staffdirectory" style="height: 275px; ; width: 400px;">
                <caption>Table Caption</caption>
                <tbody>
                    <tr>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>5</td>
                        <td>7</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <h5><strong>cvatable</strong></h5>
            <table border="0" cellpadding="0" cellspacing="0" class="cvatable" style="height: 275px; ; width: 400px;">
                <caption>&nbsp;</caption>
                <tbody>
                    <tr>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <h5><strong>well</strong></h5>
            <table border="0" cellpadding="0" cellspacing="0" class="well" style="height: 275px; width: 400px;">
                <caption>&nbsp;</caption>
                <tbody>
                    <tr>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- DAV 08-27-13 -->
<div class="content-inner">


    <div class="alert alert-success">
        <p>Tables are a clean and consistent way to display tabular data. When building a table start by defining how many rows and columns are needed. Rows and columns can be added after the table is created.</p>
        <p><strong>Cell Padding</strong> will add spacing around your text in any given cell.</p>
        <p><strong>Cell Spacing</strong> will add spacing around the cell itself.</p>
        <p><strong>Border</strong> will place lines around your cells to help in readability. The border field requires a number and this number affects the thickness of your tables border 1 being very thing 10 being very thick.</p>
        <p><strong>Alignment&nbsp;</strong>will adujust text within a cell to be aligned according to what has been chosen, the default alignment is to the left.</p>
        <p><strong>Vertical Alignment&nbsp;</strong>will adjust text to be aligned with the top, center, or bottom of the cell.</p>
        <p><strong>Width&nbsp;</strong>and <strong>Height&nbsp;</strong>control the phyical dimensions of the table as a whole. If these fields are left blank the table with adjust according to the text placed inside the cells.</p>
        <p><strong>Class&nbsp;</strong>allows you to change the style of the table.</p>
        <p>The final checkboxes allow you to choose weather your table has a caption and/or which row or column is going to act as your header.</p>
    </div>
</div>
<!-- DAV 08-27-13 -->
<div class="content-inner">


    <hr />
    <h1 style="padding-left: 0px !important; margin-left: 0px !important;"><a id="contact"></a>CONTACT FORM</h1>
    <hr />
</div>
<!-- Edited by MGW 05-16-14  -->
<script>
    function validateForm() {
    	//USE A TRY/CATCH BLOCK!!!!!!

    	//---DEFINE VARIABLES
    	//var ContactUsForm=document.forms["ContactUsForm"]
    	//var ContactUsForm=document.getElementById("ContactUsForm");
    	var ContactUsForm = document.ContactUsForm;

    	//var realname=document.forms["ContactUsForm"]["#realname"].value;
    	//var realname=ContactUsForm.realname.value;
    	//var realname=ContactUsForm["realname"].value;
    	//var realname=ContactUsForm("realname").value;
    	var realname = ContactUsForm("#realname").value;

    	//var email=document.forms["ContactUsForm"]["#email"].value;
    	var email = ContactUsForm.email.value;

    	//var phone=document.forms["ContactUsForm"]["#phone"].value;
    	var phone = ContactUsForm.phone.value;

    	//var extension=document.forms["ContactUsForm"]["#extension"].value;
    	var extension = ContactUsForm.extension.value;

    	//var message=document.forms["ContactUsForm"]["#message"].value;
    	var message = ContactUsForm.message.value;

    	//--VALIDATE NAME
    	if (realname !== null || realname !== "") {
    		if (email !== null || email !== "") {
    			if (message !== null || message !== "") {
    				return true;
    			} else {
    				alert("The following fields cannot be blank:\n\n----------------------------------------\n-----Form Field---------You Entered-----\n----------------------------------------\nFull name..........." + realname + "\nEmail address......." +
    					email + "\nQuestions/Comments.." + message + "\n----------------------------------------\n\nPlease make sure all required fields have been entered and submit the form again.");
    				return false;
    			}
    		}
    	}
    }
</script>
<!--/JAVASCRIPT VALIDATOR-->
<h2>

</h2>
<h3>

</h3>
<form action="http://www.msudenver.edu/cgi-bin/public/formmail.cgi" method="post" name="ContactUsform" id="ContactUsForm" onsubmit="return validateForm()">
    <input type="hidden" name="recipient" value='soandso@msudenver.edu' />
    <input type="hidden" name="subject" value='Dummy Form' />
    <input type="hidden" name="redirect" value="/showcase/form.shtml" />
    <input type="hidden" name="required" value="realname,email,message" />
    <input type="hidden" name="env_report" value="REMOTE_HOST,REMOTE_ADDR,REMOTE_USER,HTTP_USER_AGENT" />
    <input type="hidden" name="print_config" value="recipient,subject,realname,email" />
    <input type="hidden" name="print_blank_fields" value="1" />
    <input type="hidden" name="missing_fields_redirect" value="/missingfields/" />

    <fieldset>
        <legend>
            <h4>Contact Information:</h4>
        </legend>
        <div class="form-group">
            <label for="Full Name">Full name:
                <span>*</span>
            </label>
            <input type="text" required name="realname" class="form-control" id="Full Name" maxlength="50" />
        </div>
        <div class="form-group">
            <label for="Email Address">Email address:
                <span>*</span>
            </label>
            <input type="text" required name="email" class="form-control" id="Email Address" maxlength="50" />
        </div>
        <div class="form-horizontal">
            <div class="col-lg-4">
                <label for="phone">Phone number:</label>
                <input type="text" name="phone" class="form-control" maxlength="12" value="###-###-####" />
            </div>
            <div class="col-lg-4">
                <label for="extension">Phone Extension:</label>
                <input type="text" name="extension" class="form-control" maxlength="6" />
            </div>
        </div>
    </fieldset>
    <br>
    <fieldset>
        <legend>
            <h4>Questions/Comments:
				<span>*</span>
			</h4>
        </legend>
        <div class="form-group">
            <textarea id="message" name="message" class="form-control" rows="10"></textarea>
        </div>
    </fieldset>
    <div class="col-lg-offset-6">
        <input class="btn btn-success" type="submit" value="Submit" name="submit" id="submit" value="Submit Form">
        <input class="btn btn-warning" type="reset" value="Reset Form" name="reset" id="reset" value="Reset Form">
    </div>
</form>
<!--/CONTACT US FORM-->
<!-- DAV 08-27-13 -->
<div class="content-inner">


    <p>&nbsp;</p>
    <div class="alert alert-success">
        <p>Contact form's give a quick point of contact to your department. Please remember to check that the form is being submitted to a valid email that will be checked regularly.</p>
        <p><strong>Creating a Contact Form:</strong>
            <br />Simply choose the "Contact Form" content part to display one on your page. Be sure to include the email address you would like this form's content to be sent to. It is always best practice to enter a response, for when the form is completed.</p>
    </div>
</div>
<!-- DAV 08-27-13 -->
<div class="content-inner">


    <hr />
    <h1 style="padding-left: 0px !important; margin-left: 0px !important;"><a id="social"></a>SOCIAL LINKS</h1>
    <hr />
</div>
<div align="center">
    <a href='#'><img src='http://msudenver.edu/media/assets/webicons/images/fc-webicon-twitter.png' alt='Twitter' />
    </a>
    <a href='#'><img src='http://msudenver.edu/media/assets/webicons/images/fc-webicon-facebook.png' alt='Facebook' />
    </a>
    <a href='#'><img src='http://msudenver.edu/media/assets/webicons/images/fc-webicon-youtube.png' alt='YouTube' />
    </a>
    <a href='#'><img src='http://msudenver.edu/media/assets/webicons/images/fc-webicon-flickr.png' alt='Flickr' />
    </a>
    <a href='#'><img src='http://msudenver.edu/media/assets/webicons/images/fc-webicon-linkedin.png' alt='Linkedin' />
    </a>


</div>
<!-- DAV 08-27-13 -->
<div class="content-inner">


    <p>&nbsp;</p>
    <div class="alert alert-success">
        <p>Drive traffic to your social media pages. Include the full URL to social page (i.e. https://www.facebook.com/msudenver). Any unused fields will not display. The Department Social Links part can exist in the Link Column or Right Column.</p>
    </div>
</div>
<!-- DAV 08-27-13 -->
<div class="content-inner">


    <hr />
    <h1 style="padding-left: 0px !important; margin-left: 0px !important;"><a id="facebook"></a>FACEBOOK FEED</h1>
    <hr />
</div>
<div style="padding-top:20px; height: 460px; overflow: hidden;">
    <style>
        #fb-root {
            display: none;
        }
        .fb_iframe_widget,
        .fb_iframe_widget span,
        .fb_iframe_widget span iframe[style] {
            width: 100% !important;
            height: 450px;
        }
    </style>
    <!--Facebook Script-->
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
        	var js, fjs = d.getElementsByTagName(s)[0];
        	if (d.getElementById(id)) return;
        	js = d.createElement(s);
        	js.id = id;
        	js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        	fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>


    <!--Facebook Feed-->
    <div class="fb-like-box" data-href="https://www.facebook.com/MSUDenverAlumni" data-width="330" data-show-faces="false" data-stream="true" data-show-border="true" data-header="true"></div>
</div>
<!-- DAV 08-27-13 -->
<div class="content-inner">


    <div class="alert alert-success">Drive traffic, and highlight events! If your department is using Facebook regularly, include a Facebook Feed to show visitors what you are up to.&nbsp;<span>The Facebook Feed part may look best when placed in the Link Column or Right Column.</span>
    </div>
</div>
<!-- DAV 08-27-13 -->
<div class="content-inner">


    <hr />
    <h1 style="padding-left: 0px !important; margin-left: 0px !important;"><a id="highlight"></a>HIGHLIGHT BOX</h1>
    <hr />
</div>
<!-- HiglightBox text/shtml -->
<div class="HighlightBox">
    <div class="HighlightBox-title">
        Demo Highlight
        <hr>
    </div>
    <div class="HighlightBox-content">
        <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec eros vel augue hendrerit ultrices et vitae lorem. Cras dignissim rhoncus sapien vel mattis. Curabitur a lacinia nisl. Etiam id nisi quis purus gravida suscipit. Donec porta leo risus, sed elementum lectus pharetra sed. Vestibulum volutpat sem nec sodales commodo. Suspendisse potenti. Aliquam pharetra mauris nunc, vel ullamcorper massa congue eu. Nulla eu faucibus purus, vel congue urna. Maecenas quis lectus tristique, pellentesque sem eget, lobortis felis. Pellentesque et felis dui. Suspendisse sapien justo, scelerisque in tristique sed, congue non elit. Pellentesque vitae tincidunt quam.</span>
        </p>
    </div>
</div>
<!-- DAV 08-27-13 -->
<div class="content-inner">


    <div class="alert alert-success">Highlight boxes are a great way to display important, or upcoming information. The highlight box has set colors based on it's location. Placed within the body content, or right column it will be green. A highlight box in the link column will display
        in red.</div>
</div>
<!-- DAV 08-27-13 -->
<div class="content-inner">


    <hr />
    <h1 style="padding-left: 0px !important; margin-left: 0px !important;"><a id="content"></a>PAGE CONTENT</h1>
    <hr />
</div>
<!-- DAV 08-27-13 -->
<div class="content-inner">


    <p style="text-align: justify;"><img class="img-responsive" src='http://placehold.it/1200x300' alt='Standard in text image' style='float:left;' />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dignissim varius arcu, eget lobortis urna lacinia vitae. Curabitur
        semper ac dui id tristique. Fusce iaculis, mauris nec imperdiet tempus, dui ante luctus enim, ac molestie enim massa in neque. Praesent vestibulum aliquet urna in facilisis. Phasellus justo nulla, gravida sit amet justo eget, sodales pharetra
        sapien. Integer at lectus mollis, condimentum elit a, dapibus sem. Curabitur ultricies turpis id semper molestie.</p>
    <p style="text-align: justify;">Sed ligula diam, rutrum ut elit id, euismod volutpat libero. Praesent laoreet ullamcorper lorem, a ullamcorper lorem accumsan a. In arcu nisl, lacinia nec sagittis ac, euismod a felis. Pellentesque faucibus venenatis tortor, et ullamcorper massa mattis
        quis. Maecenas sed nibh nec neque volutpat vehicula sit amet vitae est. Phasellus sollicitudin erat vitae quam egestas, vitae volutpat orci facilisis. Praesent semper diam at nisl sagittis rutrum. Phasellus vel massa et est vestibulum fermentum.</p>
    <p style="text-align: justify;">Vivamus quis arcu nec arcu aliquam volutpat. Donec elementum posuere sapien sit amet tempus. Praesent adipiscing gravida pulvinar. Cras congue lacus non rutrum placerat. Cras varius lacus nulla, et euismod nisl consequat vel. Nam sed facilisis lacus,
        id pretium sem. Aenean rutrum in erat ut consectetur. Praesent dictum diam id pharetra congue. Etiam quis posuere justo. Ut tincidunt fringilla libero id interdum. Donec placerat ut est nec sagittis.</p>
</div>
<!-- DAV 08-27-13 -->
<div class="content-inner">


    <div class="alert alert-success">Page Content is a standard text editor. It can be used to input generic text and images. See the "Typography" section for ideas on how to structure content you place within a Page Content Part.</div>
</div>
<!-- DAV 08-27-13 -->
<div class="content-inner">


    <hr />
    <h1 style="padding-left: 0px !important; margin-left: 0px !important;"><a id="image"></a>PAGE IMAGE</h1>
    <hr />
</div>
<!-- DAV 08-27-13 -->
<div class="content-inner">


    <p><img class="img-responsive" src='http://placehold.it/1200x300' alt='This is a typical header image' style='' />
    </p>
</div>
<!-- DAV 08-27-13 -->
<div class="content-inner">


    <div class="alert alert-success">Page Image will display your selected image at the top of the page and will expand the image to fill the entire body content section. A page image is a great way to stand out from other department sites.</div>
</div>
<!-- DAV 08-27-13 -->
<div class="content-inner">


    <hr />
    <h1 style="padding-left: 0px !important; margin-left: 0px !important;"><a id="collapse"></a>SLIDE DOWN CONTENT</h1>
    <hr />
</div>
<!-- Edited by MGW 05-14-14  -->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" href="#72423">
                        <h4 class="panel-title">

                            Slide Down Content Title
                            <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                        </h4>
                    </a>
                </div>
                <div id="72423" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dignissim varius arcu, eget lobortis urna lacinia vitae. Curabitur semper ac dui id tristique. Fusce iaculis, mauris nec imperdiet tempus, dui ante luctus enim,
                            ac molestie enim massa in neque. Praesent vestibulum aliquet urna in facilisis. Phasellus justo nulla, gravida sit amet justo eget, sodales pharetra sapien. Integer at lectus mollis, condimentum elit a, dapibus sem. Curabitur
                            ultricies turpis id semper molestie.</p>
                        <p>Sed ligula diam, rutrum ut elit id, euismod volutpat libero. Praesent laoreet ullamcorper lorem, a ullamcorper lorem accumsan a. In arcu nisl, lacinia nec sagittis ac, euismod a felis. Pellentesque faucibus venenatis tortor, et
                            ullamcorper massa mattis quis. Maecenas sed nibh nec neque volutpat vehicula sit amet vitae est. Phasellus sollicitudin erat vitae quam egestas, vitae volutpat orci facilisis. Praesent semper diam at nisl sagittis rutrum. Phasellus
                            vel massa et est vestibulum fermentum.</p>
                        <p>Vivamus quis arcu nec arcu aliquam volutpat. Donec elementum posuere sapien sit amet tempus. Praesent adipiscing gravida pulvinar. Cras congue lacus non rutrum placerat. Cras varius lacus nulla, et euismod nisl consequat vel. Nam
                            sed facilisis lacus, id pretium sem. Aenean rutrum in erat ut consectetur. Praesent dictum diam id pharetra congue. Etiam quis posuere justo. Ut tincidunt fringilla libero id interdum. Donec placerat ut est nec sagittis.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<br>
<!-- DAV 08-27-13 -->
<div class="content-inner">


    <div class="alert alert-success">Slide down content is a great way to categorize and make a long page short by hiding extra text in a collapsable pane. Keep in mind other content parts cannot be used inside of a Slide Down Content Part, it is for text and images much like the Page
        Content Part.</div>
</div>
<!-- DAV 08-27-13 -->
<div class="content-inner">


    <hr />
    <h1 style="padding-left: 0px !important; margin-left: 0px !important;"><a id="youtube"></a>YOUTUBE VIDEO</h1>
    <hr />
</div>
<!-- Edited by MGW 05-06-14  -->
<style>
    .full-video iframe {
        width: 100%;
        text-align: center;
        display: block;
    }
</style>
<div class="row">
    <div class="full-video col-lg-12 col-md-12 col-sm-12 col-xm-12">
        <iframe width="900" height="450" src="//www.youtube.com/embed/4yFFuNuJHjU" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
<!-- DAV 08-27-13 -->
<div class="content-inner">


    <p>&nbsp;</p>
    <div class="alert alert-success">Have a video to share? The Youtube Video Part make's it simple. Add a title and grab the embed code provided from Youtube. While on the desired video choose the "Share" option then navigate to "Embed" and copy and paste the code into our part.</div>
</div>
<!-- DAV 08-27-13 -->
<div class="content-inner">


    <hr />
    <h1 style="padding-left: 0px !important; margin-left: 0px !important;"><a id="buttons"></a>BUTTONS</h1>
    <hr />
</div>
<!-- text/shtml -->
<div class="">
    <button type="button" class="btn btn-lg clickable custombtn alizarin col-lg-6  col-sm-12 col-xs-12" data-href="/showcase/">
        <span><span class="glyphicon glyphicon-ok">&nbsp;</span>Half Width Button
        </span>
    </button>
</div>
<!-- text/shtml -->
<div class="">
    <button type="button" class="btn btn-lg clickable custombtn carrot col-lg-6 col-md-6 col-sm-12 col-xs-12" data-href="/showcase/">
        <span><span class="glyphicon glyphicon-envelope">&nbsp;</span>Half Width Button
        </span>
    </button>
</div>
<!-- text/shtml -->
<div class="">
    <button type="button" class="btn btn-lg clickable custombtn rowdyblue col-lg-12 col-md-12 col-sm-12 col-xs-12" data-href="/showcase/">
        <span><span class="glyphicon glyphicon-pencil">&nbsp;</span>Full Width Button
        </span>
    </button>
</div>
<!-- DAV 08-27-13 -->
<div class="content-inner">


    <p>&nbsp;</p>
    <div class="alert alert-success">Buttons are useful to make navigating through your site easier on your users. Our button content part offers a variety of colors to choose from as well as an icon to give your button a visual. Buttons can be placed in the sidebar columns and main
        content areas. It is best practice to use a 12/12 or full width button for a sidebar. However, when buttons are placed in the main content area 6/12 or half width buttons will appear side by side.</div>
</div>
<!-- DAV 08-27-13 -->
<div class="content-inner">


    <hr />
    <h1 style="padding-left: 0px !important; margin-left: 0px !important;"><a id="pane"></a>INFO PANE</h1>
    <hr />
</div>
<div class="col-md-12 col-lg-4">
    <div class="panel panel-default clickable" data-href="/showcase/">
        <div class="panel-heading" >Info Pane 1</div>
        <div class="panel-body">
            <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque fringilla lobortis massa sed lobortis. Cras felis enim, laoreet sit amet urna nec, adipiscing mollis est. Aliquam erat volutpat. Nunc dapibus ipsum diam, at rhoncus ligula interdum sit amet. Nam scelerisque felis mi. Donec auctor magna at neque faucibus commodo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac.</span>
            </p>
        </div>
    </div>
</div>
<div class="col-md-12 col-lg-4">
    <div class="panel panel-default clickable" data-href="/showcase/">
        <div class="panel-heading" >Info Pane 2</div>
        <div class="panel-body">
            <p><img alt="" src="http://placehold.it/218x75.png" />
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque fringilla lobortis massa sed lobortis. Cras felis enim, laoreet sit amet urna nec, adipiscing mollis est. Aliquam erat volutpat. Nunc dapibus ipsum diam, at rhoncus ligula
                interdum sit amet.</p>
        </div>
    </div>
</div>
<div class="col-md-12 col-lg-4">
  <div class="panel panel-default clickable" data-href="">
  <div class="panel-heading">Alumni Spotlight</div>
    <div class="panel-body">
      <p>Cyrena-Marie Briede's ('05) perfect place to work is the "Home of the World's Worst Weather."<br><a href="http://www.msudenver.edu/magazine/storyarchive/summer-2014/peakexperience.shtml" target="_blank">Read more</a>.</p>
    </div>
  </div>
</div>
<!-- DAV 08-27-13 -->
<div class="content-inner">


    <p>&nbsp;</p>
    <div class="alert alert-success">Info panes can help to divide information or details you are wishing to highlight. Each pane is clickable and you will be prompted to link to the full content page. Panes are non-intended to hold lots of content and thus there is a fixed height. Web
        authors should tailer their content appropriately for info panes. Lastly, there are three width options for panes full width, one third width, and half width. Our example is using three one third width info panes to make a full row.</div>
</div>
<!-- /build -->
