<!-- build:remove -->
<h2>Standard Page Content Title</h2>
<h3>Page sub-title</h3>
<hr>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tempor scelerisque erat, at ultricies orci pretium quis. Aliquam mattis nisl in nisi mattis, eget tempor eros dignissim. Fusce quis lorem placerat, volutpat leo id, ultricies purus. Aliquam quis dui turpis. Aliquam semper elit vel elit ullamcorper eleifend. Duis in nulla eu augue laoreet congue et at diam. Cras commodo elit id odio tempor, vitae condimentum ipsum sollicitudin. In tempus lacus sit amet nisl ornare, vehicula gravida elit pharetra.</p>
<blockquote>
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque volutpat neque eu eleifend. Phasellus commodo vehicula fermentum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas."</p>
</blockquote>
<p>
    <img class="img-responsive" src="images/two_col_sample_content/2.png" alt='Standard in text image' />
</p>
<h3>This is the basic page content template</h3>
<h4>Include your own text and images on this page.</h4>
<p>Morbi facilisis urna eros, et ornare libero bibendum nec. Sed ullamcorper sem adipiscing, dictum enim ut, elementum quam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In consectetur iaculis justo, in tempor dui laoreet vitae. Proin blandit egestas nisi. Curabitur non adipiscing nulla. Suspendisse in ligula aliquet, venenatis mi a, dictum purus. Cras in lorem ultricies risus semper accumsan. In facilisis augue sit amet vulputate placerat. Suspendisse potenti. Nullam erat urna, commodo sed nisi quis, cursus tincidunt libero. Aenean quis felis at elit imperdiet pretium. Maecenas blandit turpis a consequat imperdiet. Ut accumsan semper lorem quis dictum.</p>
<p>Nunc aliquet, ante eget sagittis laoreet, nunc metus sagittis tellus, sit amet vestibulum lacus massa consequat tellus. <a href="#" target="_self">Duis varius</a>, augue ut congue pretium, nunc quam condimentum elit, sit amet faucibus nulla felis quis eros. Aliquam erat volutpat. Sed imperdiet semper nunc, sed pharetra dolor tincidunt at. Nam consectetur molestie turpis, in elementum felis egestas laoreet. Phasellus id urna ut magna adipiscing auctor eu non lacus. Sed in velit et est ullamcorper tincidunt. Quisque vel blandit mauris.</p>
<p>
    <strong>Donec fringilla ante sit amet urna aliquet</strong>, et blandit libero rhoncus. Vestibulum sed ligula convallis, ultricies sem id, ornare ante. Proin ultrices ut odio a accumsan. Etiam nec magna porttitor, blandit metus eu, pellentesque dui. Maecenas vitae sollicitudin leo. Sed sollicitudin, libero eget adipiscing mollis, leo eros aliquam est, luctus fermentum magna ligula condimentum tellus. Proin eu purus enim. Mauris vel ipsum ac felis elementum congue luctus nec lacus. Cras pretium adipiscing magna, in malesuada odio condimentum vel. Proin varius dolor turpis, dignissim consequat leo placerat eget. Sed lacinia diam id erat semper mollis. Nam rutrum posuere quam, eu cursus eros adipiscing a. Aliquam ornare massa ac massa tempor, eget sollicitudin sapien suscipit. Pellentesque blandit viverra auctor. Aenean quam nulla, luctus molestie tortor eget, ultrices rhoncus felis.</p>
<p>Duis eu massa vitae sapien consequat pretium ac sit amet neque. Sed fermentum sollicitudin tellus ullamcorper eleifend. Nullam in magna nisi. Integer eget erat mattis, pellentesque dolor nec, eleifend turpis. Curabitur sem mi, tincidunt nec vestibulum at, molestie a turpis.
    <em>Proin vehicula orci orci</em>, in suscipit dolor dapibus lacinia. Sed et est nec nisl euismod semper ac eu eros. Aenean vitae congue urna. Cras sit amet sodales risus. Integer quis augue dui. Fusce eleifend diam vel tempor bibendum. Nunc et elit quis tortor volutpat condimentum. Duis auctor mattis aliquam.</p>
<hr>
<p>Social Links</p>
<div class="HighlightBox">
    <div class="HighlightBox-title">
        <div class="triangle"></div>
        Application Instructions
        <hr>
    </div>
    <div class="HighlightBox-content">
        <p><a href="/media/content/aboutmsudenver/documents/Basic_Instructions_to_Apply_for_a_Position_at_MSU_Denver_2013.doc" target="_blank">Basic Instructions to apply for a position at MSU Denver</a> (1,112 KB)</p>
        <p><a href="/working/instructions.shtml">Special Instructions for Affiliate Faculty Applicants</a>
        </p>
    </div>
</div>
<script src="https://cdnapisec.kaltura.com/p/382151/sp/38215100/embedIframeJs/uiconf_id/13339762/partner_id/382151?autoembed=true&amp;entry_id=0_rm2dqcph&amp;playerId=kaltura_player_1381438321&amp;cache_st=1381438321&amp;width=480&amp;height=499&amp;flashvars[akamaiHD.loadingPolicy]=preInitialize&amp;flashvars[akamaiHD.asyncInit]=true&amp;flashvars[streamerType]=hdnetwork"></script>
<p>another video</p>
<p>OGG</p>
<video src="http://v2v.cc/~j/theora_testsuite/320x240.ogg" controls>
    Your browser does not support the
    <code>video</code>element.
</video>
<p>MP4</p>
<video src="http://clips.vorwaerts-gmbh.de/VfE_html5.mp4"></video>
<!-- /build -->
