//Flat UI Colors
@turquoise : #1ABC9C;
@greensea : #16A085;
@emerald : #2ECC71;
@nephritis : #27AE60;
@peterriver : #3498DB;
@belizehole : #2980B9;
@amethyst : #9B59B6;
@wisteria : #8E44AD;
@webasphalt : #34495E;
@midnightblue : #2C3E50;
@sunflower : #F1C40F;
@orange : #F39C12;
@carrot : #E67E22;
@pumpkin : #D35400;
@alizarin : #E74C3C;
@pomegranate : #C0392B;
@clouds : #ECF0F1;
@silver : #BDC3C7;
@asbestos : #7F8C8D;
@concrete : #95A5A6;

 //Custom  Colors
@darkgray : #333333;
@lightgray: #bcbaba;
@white : #ffffff;
@black : #000000;
@contentlink : #1b557a;
@contenthlink : #20648f;
@rowdyblue : #0C1F3F;

//Blue Left Navigation Colors
// @currentbranch0 : #1b557a;
// @currentbranch1 : #20638f;
// @currentbranch2 : #2472a4;
// @currentbranch3 : #2980b9;
// @currentbranch4 : #2e8ece;
// @currentbranch5 : #409ad5;
// @currentbranch6 : #55a5d9;

//Blue Left Navigation Colors
@level-0 : #1b557a;
@level-1 : #20638f;
@level-2 : #2472a4;
@level-3 : #2980b9;
@level-4 : #2e8ece;
@level-5 : #409ad5;
@level-6 : #55a5d9;