@import 'colors.less';
@import 'functions.less';


.sidebar-nav{
	margin-bottom: 2em;
	background-color: @level-0;
	color: @white;
	width: 100%;
}

.sidebar-nav li, .sidebar-nav a {
	line-height:1.5em;
	padding-left:0.33em;
	color: @white;
	display:block;
	// width: 100%;
}
.sidebar-nav li a:hover {
	text-decoration: none;
	color: @white;
	background-color: @asbestos;	
	.animate-all(0.55s);
}

.sidebar-nav li a:after{
	color: @white;
	
}

ul[class^="multilevel-linkul-"]{
	color:@white;
}

.multilevel-linkul-0{
	background-color: @level-1;
}
.multilevel-linkul-1{
	background-color: @level-2;
}
.multilevel-linkul-2{
	background-color: @level-3;
}
.multilevel-linkul-3{
	background-color: @level-4;
}
.multilevel-linkul-4{
	background-color: @level-5;
}
.multilevel-linkul-5{
	background-color: @level-6;
}

// .sidebar-nav ul li ul li {
// 	background-color:#DDDDDD;
// 	margin-left:-10px;
// 	padding-left:20px;
// }
// .sidebar-nav ul li ul li ul li {
// 	background-color:#EEEEEE;
// 	margin-left:-20px;
// 	padding-left:30px;

// }
// .sidebar-nav ul li ul li ul li ul li{
// 	background-color: @black;
// 	margin-left:-30px;
// 	padding-left:40px;
// }

// .sidebar-nav ul li ul li a {
// 	color:black;
// }

// .sidebar-nav ul li ul li a:hover {
// 	// background:url(/media/styleassets/images/thirdLevelNavHover.png) right center no-repeat;
// }

// .currentSection {
// 	font-size: 18px;
// 	color:#AAAAAA;
// 	padding:5px 10px;
// 	display:block;
// }

// div[class^="something"] {

// }




// .currentbranch0 a {
// 	display: block;
// }

// .currentbranch1 {
// 	// font-weight: bold;
// 	// background:url(/media/styleassets/images/thirdLevelNavHover.png) right center no-repeat;
// 	display:block;
// }

// .currentbranch2 {
// 	// font-weight: bold;
// 	// background:url(/media/styleassets/images/thirdLevelNavHover.png) right center no-repeat;
// 	display:block;
// }

// .currentbranch3 {
// 	// font-weight: bold;
// 	// background:url(/media/styleassets/images/thirdLevelNavHover.png) right center no-repeat;
// 	display:block;
// }

// .currentbranch4 {
// 	// font-weight: bold;
// 	// background:url(/media/styleassets/images/thirdLevelNavHover.png) right center no-repeat;
// 	display:block;
// }

// .currentbranch5 {
// 	// font-weight: bold;
// 	// background:url(/media/styleassets/images/thirdLevelNavHover.png) right center no-repeat;
// 	display:block;
// }

// .currentbranch6 {
// 	// font-weight: bold;
// 	// background:url(/media/styleassets/images/thirdLevelNavHover.png) right center no-repeat;
// 	display:block;
// }

