@import 'functions.less';
// global vars

@scale: 1.25;
@rotate: 180deg;
@color: red;
@roundiness : 0px;

// a + b = c

// @a:3em;
// @b:@a;
// @c:@b;

@a:5em;
@b:1em;
@c:5em;

//  box 
//  _ _
// |   |
// |_ _|

// .rectangle{
//   // position: absolute;
//   // background: @color; // ie fail
//   // background-color: @color;
//   .scale(2);
//   width: 10em;
//   height: 10em;
//   border-radius: @roundiness;
// }


//    /\
//   /  \
//  /    \
// TRIANGLE 


.triangle{
  position: absolute;

  // bottom tip
  // @x: 0%  ; @y: 310%;
  
  
  // transform-origin: @x @y;
  // -ms-transform-origin:  @x @y;
  // -webkit-transform-origin: @x @y;
  
  border-left: @a / 2 solid transparent;
  border-right: @c / 2 solid transparent;
  border-bottom: @b * 2 solid @color;
 
  border-radius: @roundiness;

}

// rotate functions

.rotate(@deg:180deg){
    /* Safari */
    -webkit-transform: rotate(@deg);
    /* Firefox */
    -moz-transform: rotate(@deg);
    /* IE */
    -ms-transform: rotate(@deg);
    /* Opera */
    -o-transform: rotate(@deg);
    /* Internet Explorer */
    /*accepts 0, 1, 2, or 3 which will 
      rotate the element 0, 90, 180 or 
      270 degrees respectively.*/         
   filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=-);
  
}

// scale function

.scale(@scale){
  -moz-transform: scale(@scale);
  -ms-transform: scale(@scale);
  -o-transform: scale(@scale);
  -webkit-transform: scale(@scale);
  transform: scale(@scale);
}

// translate function

.translate(@x,@y){
  transform: translate(@x, @y);
}
