<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if lt IE 7 ]><html lang="en" class="ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en" class="ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" xmlns:ng="http://angularjs.org">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <!-- <t4 type="title" /> | <t4 type="navigation" id="524"/> -->
        | MSU Denver</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- google open sans -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,300,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>

    <!-- CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="../css/admissions.css"> -->
    <style type="text/css" media="screen">
    /* hide body until full page load */
    body {
        opacity: 0;
    }
    </style>
    <!-- Print CSS -->
    <!-- <t4 type="media" id="61332"/> -->

    <!-- JS -->

    <!-- HTML5 shim & respond.js, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="../css/utils/mediaAllForIE8.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.2.0/respond.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
        <![endif]-->
    <!-- Glyphicons -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

    <!-- Fav and touch icons -->

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<t4 type='media' id='60992' formatter='image/path'/>">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<t4 type='media' id='60991' formatter='image/path'/>">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<t4 type='media' id='60990' formatter='image/path'/>">
    <link rel="apple-touch-icon-precomposed" href="<t4 type='media' id='60989' formatter='image/path'/>">
    <link rel="shortcut icon" href="<t4 type='media' id='60993' formatter='image/path'/>">

    <!-- Modernizr CDN -->
    <!-- <script type="text/javascript" src="<t4 type='media' id='62527'/>"></script> -->

    <!-- yepnope.js -->
    <!-- <script src="<t4 type='media' id='62511'/>"></script> -->
    <!-- <script src="../js/utils/yepnope.js"></script> -->
    <!-- HeaderCode -->
    <!-- <t4 type='navigation' id='804'/> -->
    <!-- add these two to header code  -->
    <script src="../js/vendor/modernizr.js"></script>
    <script src="../js/utils/yepnope.js"></script>
</head>

<body>
    <div class="container">
        <!-- begins main container -->
        <div class="container">
            <!-- Logo and QuickLInks -->
            <div class="row">
                <!-- toolbar -->
                <div class="navbar toolbar col-12 col-sm-7 col-lg-7 col-push-5">
                    <!-- Quick Links navbar-toggle -->
                    <a class="navbar-brand visible-sm">Quick Links</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".quick-navbar-responsive-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Quick Links Navbar-toggle -->
                    <div class="container nav-collapse collapse quick-navbar-responsive-collapse">
                        <ul class="nav navbar-nav ">
                            <li><a href="/a_to_z">A-Z</a>
                            </li>
                            <li><a href="https://connectu.msudenver.edu/cp/home/displaylogin">ConnectU</a>
                            </li>
                            <li><a href="http://library.auraria.edu">Library</a>
                            </li>
                            <li><a href="/maps">Maps</a>
                            </li>
                            <li>
                                <a href="/student/">
                                    <strong>Current Students</strong>
                                </a>
                            </li>
                            <li>
                                <a href="/facstaff/">
                                    <strong>Faculty &amp; Staff</strong>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="collapse" href="#quicksearch">
                                    <strong>
                                        <em>Search</em>
                                    </strong>
                                </a>
                            </li>
                        </ul>
                        <div id="quicksearch" class="collapse col-12">
                            <form action="http://msudenver.edu/a_to_z/search/" class="navbar-form form-inline">
                                <input type="hidden" name="cx" value="004867254463714202705:1ammfpknuzw">
                                <input type="hidden" name="cof" value="FORID:11">
                                <input type="hidden" name="ie" value="UTF-8">
                                <input type="search" name="q" class="form-control">
                                <button type="submit" class="btn btn-default">Search</button>
                            </form>
                        </div>
                    </div>
                    <!-- /.nav-collapse -->
                </div>
                <!-- /.container -->
                <!-- logo -->
                <div class="msudenver_logo col-12 col-sm-5 col-lg-5 col-pull-7">
                    <img class="clickable" src="../assets/branding/MSUDenver_Formal.gif" alt="MSU Denver Formal Logo" data-href="/">
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
        <div class="container">
            <!-- SITE HEADER -->
            <div class="siteheader">
                <h1>Admissions</h1>
            </div>
            <!-- BREADCRUMBS -->
            <div class="container">
                <ul class="breadcrumb">
                    <a href="/">MSU Denver Home</a>&nbsp;/&nbsp;<a href="/admissions/">Admissions</a>&nbsp;/&nbsp; Degrees Finder
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <!-- LEFT SIDE COLUMN -->
                <div class="sidebar-nav">
                    <ul class="nav nav-list">
                        <li><a href="/admissions/">Home</a>
                        </li>
                        <li><a href="/admissions/first-timecollegestudents/">First-Time College Students</a>
                        </li>
                        <li><a href="/admissions/transferstudents/">Transfer Students</a>
                        </li>
                        <li><a href="/admissions/internationalstudents/">International Students</a>
                        </li>
                        <li><a href="/admissions/mastersstudents/">Master's Students</a>
                        </li>
                        <li><a href="/admissions/veteranstudents/">Veteran Students</a>
                        </li>
                        <li><a href="/admissions/otherstudents/">Other Students </a>
                        </li>
                        <li><a href="/admissions/requestinformation/">Request Information</a>
                        </li>
                        <li><a href="/admissions/visitus/">Visit Us</a>
                        </li>
                        <li><a href="/admissions/admissionsforms/">Admissions Forms </a>
                        </li>
                        <li><a href="/admissions/contactus/">Contact Us</a>
                        </li>
                        <li><a href="/admissions/application/">Apply Online </a>
                        </li>
                        <li>
                            <span class="currentbranch0"><a href="/admissions/asset/">Asset</a>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="linkcolumn visible-md visible-lg">

                </div>
            </div>
            <!--/span-->
            <div class="col-lg-9">
                <div class="content">
                    <!-- *********************************  -->
                    <!-- SITEMANAGER HEADER ENDS HERE -->
                    <!-- *********************************  -->
                    <div class="container">
                        <a id="top"></a>
                        <p class="caption">
                            Masters, Majors, Minors, Concentrations and Licensures offered by MSU Denver
                        </p>
                        <div class="mainContainer" data-ng-controller="ProgramController">
                            <div id="program_count" class="center">
                                <section class="palette img-rounded">
                                    <p class="total">{{total}}</p>
                                    <p>MSU Denver
                                        <em id="changeSelectionType">DEGREE OPTIONS</em>
                                    </p>
                                </section>
                            </div>
                            <div class="row">
                                <div class="container">
                                    <div class="back2top center">
                                        <span> <a href="#">Back to Top</a>
                                        </span>
                                        <div class="shadow1"></div>
                                        <div class="shadow2"></div>
                                        <div class="shapes">
                                            <div class="line1"></div>
                                            <div class="line2"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="container pull-right">
                                        <label id="search_label" for="Search">SEARCH
                                        <input class="todo-search " data-ng-model="search" type="search" value placeholder="Degree Options" name="Search"></label>
                                    </div>
                                </div>
                                <div class="filterBox">
                                    <p>
                                        <em>Filter by</em>
                                    </p>
                                    <div class="row">
                                        <div class="container">
                                            <label class="selected"  data-ng-repeat="t in types">
                                                <input name="selection" class="checkbox" type="radio" data-ng-click="sortByType($event, t)" id="{{t}}">
                                                <span class="checkboxText">{{t}}</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <table class="results">
                                <thead class="categories">
                                    <tr>
                                        <th class="palette Name">Program</th>
                                        <th class="palette Masters">Master</th>
                                        <th class="palette Major">Major</th>
                                        <th class="palette Minor">Minor</th>
                                        <th class="palette Concentration">Concentration</th>
                                        <th class="palette Certification">Certification</th>
                                        <th class="palette Licensure">Licensure</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="program in list | filter:search">
                                        <td class="Name palette">
                                            <span>
                                                <a href="{{program.www}}" target="_blank">
                                                        {{program.name}}
                                                    </a>
                                            </span>
                                        </td>
                                        <td class="inner Masters {{program.masters}}">
                                            <img class="degreeCircle" src="../assets/img/10px.png" alt="{{altTag(program.name, program.masters, 'Masters')}}" width="10" height="10">
                                        </td>

                                        <td class="inner Major {{program.major}}">
                                            <img class="degreeCircle" src="../assets/img/10px.png" alt="{{altTag(program.name, program.major, 'Major')}}" width="10" height="10">
                                        </td>

                                        <td class="inner Minor {{program.minor}}">
                                            <img class="degreeCircle" src="../assets/img/10px.png" alt="{{altTag(program.name, program.minor, 'Minor')}}" width="10" height="10">
                                        </td>

                                        <td class="inner Concentration {{program.concentration}}">
                                            <img class="degreeCircle" src="../assets/img/10px.png" alt="{{altTag(program.name, program.concentration, 'Concentration')}}" width="10" height="10">
                                        </td>

                                        <td class="inner Certification {{program.certification}}">
                                            <img class="degreeCircle" src="../assets/img/10px.png" alt="{{altTag(program.name, program.certification, 'Certification')}}" width="10" height="10">
                                        </td>

                                        <td class="inner Licensure {{program.licensure}}">
                                            <img class="degreeCircle" src="../assets/img/10px.png" alt="{{altTag(program.name, program.licensure, 'Licensure')}}" width="10" height="10">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- *********************************  -->
                            <!-- SITEMANAGER START FOOTER -->
                            <!-- *********************************  -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / end of main container-->
        <div class="container">
            <div class="row footer">
                <div class="col-lg-12">
                    <div class="col-lg-4 col-sm-12">
                        <img class="clickable" src="../assets/webicons/images/fc-webicon-facebook.png" alt="Facebook Logo" data-href="https://www.facebook.com/msudenver">
                        <img class="clickable" src="../assets/webicons/images/fc-webicon-twitter.png" alt="Twitter Logo" data-href="http://twitter.com/msudenver">
                        <img class="clickable" src="../assets/webicons/images/fc-webicon-youtube.png" alt="YouTube Logo" data-href="http://www.youtube.com/user/metrostatecollege">
                        <img class="clickable" src="../assets/webicons/images/fc-webicon-flickr.png" alt="Flickr Logo" data-href="http://www.flickr.com/photos/msudenver/sets/">
                    </div>
                    <div class="col-lg-4 col-sm-6 campus-info">
                        <p>
                            <a href="/contact">CONTACT US</a> | 303-556-2400
                            <br>Auraria Campus Police: 303-556-5000
                            <br>Inclement Weather Line: 303-556-2401
                        </p>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <p>
                            <a class="t4Edit-page" href="https://adt4apps.msudenver.edu/terminalfour/SiteManager?ctfn=publish&amp;fnno=31&amp;sid=19048&amp;chid=1&amp;lang=en&amp;ede=true">&copy;</a> Metropolitan State University of Denver
                            <br>
                            <a href="/privacy">Privacy Statement</a>
                            <br>
                            <a href="http://www.collegeportraits.org/CO/Metro-State">College Portrait</a> | <a href="http://tops.state.co.us/">Colorado TOPS</a>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- <script type="text/javascript" src="../js/controllers.js"></script> -->
        <!-- Footer Code includes -->
        <!-- yepnope.js -->
        <!-- <script src="<t4 type='media' id='62511'/>"></script>  -->
</body>

</html>
