<!-- BEGINS GRAY BAR FOOTER -->
<div class="container">
    <div class="row footer">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="socialLinks">
                <!-- build:remove -->
                <img class="clickable" src="images/webicons/images/fc-webicon-facebook.png" alt="Facebook Logo" data-href="https://www.facebook.com/msudenver">
                <img class="clickable" src="images/webicons/images/fc-webicon-twitter.png" alt="Twitter Logo" data-href="http://twitter.com/msudenver">
                <img class="clickable" src="images/webicons/images/fc-webicon-youtube.png" alt="YouTube Logo" data-href="http://www.youtube.com/user/msudenver">
                <img class="clickable" src="images/webicons/images/fc-webicon-flickr.png" alt="Flickr Logo" data-href="http://www.flickr.com/photos/msudenver/sets/">
                <!-- /build -->
                <!-- build:section views.social_links -->
                <!-- /build -->
            </div>
        </div>
        <div class="col-md-4 campus-info">
            <p>
                <a href="/contact">CONTACT US</a> | 303-556-2400
                <br>Auraria Campus Police: 303-556-5000
                <br>Inclement Weather Line: 303-556-2401
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <t4 type="edit-page" action="direct-edit" text="&copy;" />
                <b><a href="/">Metropolitan State University of Denver</a></b>
                <br>
                <a href="/privacy">Privacy Statement</a>
                <br>
                <a href="http://www.collegeportraits.org/CO/Metro-State">College Portrait</a> | <a href="http://tops.state.co.us/">Colorado TOPS</a>
                <br>
            </p>
        </div>
    </div>
</div>
<!-- ENDS GRAY BAR FOOTER -->