<!-- BEGINS MAIN BLUE NAVIGATION + LOGO + QUICK-LINKS -->
<div class="container">
    <!-- Logo and QuickLInks -->
    <div class="row">
        <!-- QUICKLINKS TOOLBAR -->
        <div class="col-lg-7 col-lg-push-5 ">
            <!-- Static navbar -->
            <div class="navbar navbar-static-top  toolbar navbar-inverse ">
                <div class="navbar-header">
                    <a class="navbar-brand visible-xs visible-sm" href="#" data-toggle="collapse" data-target=".navbar-collapse">QUICK LINKS</a>
                    <button type="button " class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle quick links navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="quicktools"><a href="/a_to_z">A-Z</a>
                        </li>
                        <li class="quicktools"><a href="https://connectu.msudenver.edu">ConnectU</a>
                        </li>
                        <li class="quicktools"><a href="http://library.auraria.edu">Library</a>
                        </li>
                        <li class="quicktools"><a href="/maps">Maps</a>
                        </li>
                        <li class="quicktools"><a href="/student">Current Students</a>
                        </li>
                        <li class="quicktools"><a href="/facstaff">Faculty & Staff</a>
                        </li>
                        <li class="">
                            <a data-toggle="collapse" href="#quicksearch">
                                <em>
                                    <b class="glyphicon glyphicon-search"></b>
                                </em>
                            </a>
                        </li>
                        <li>
                            <div class="row">
                                <div id="quicksearch" class="collapse container">
                                    <form action="http://msudenver.edu/a_to_z/search" class="navbar-form navbar-left" role="search">
                                        <div class="form-group">
                                            <input type="hidden" name="cx" value="004867254463714202705:1ammfpknuzw" class="form-control" placeholder="Search">

                                            <input type="hidden" name="cof" value="FORID:11" class="form-control" placeholder="Search">

                                            <input type="hidden" name="ie" value="UTF-8" class="form-control" placeholder="Search">

                                            <label for="q" class="sr-only">Search MSU Denver site</label>
                                            <input id="q" autofocus type="search" name="q" class="form-control" class="form-control" placeholder="Search" size="32">

                                        </div>
                                        <button id="qButton" type="submit" class="btn btn-default">
                                            <em>Search</em>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
        <!-- MSU DENVER LOGO -->
        <div class="col-lg-8 col-lg-offset-0 col-md-offset-3 col-sm-offset-2 col-xs-offset-0">
            <div class="msudenver_logo ">
                <!-- build:remove -->
                <img class="clickable" src="images/branding/MSUDenver_Formal.gif" alt="MSU Denver Formal Logo" data-href="/">
                <!-- /build -->
                <!-- build:section views.logo -->
                <!-- /build -->
            </div>
        </div>
        <!-- ENDS MSU DENVER LOGO -->
    </div>
</div>
<!-- BEGINS MAIN BLUE NAVIGATION -->
<div class="container">
    <!-- Static navbar -->
    <div class="navbar navbar-default mainBlueNavigation navbar-inverse" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
                <span class="sr-only">Toggle main navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand visible-xs visible-sm visible-md " href="#" data-toggle="collapse" data-target=".navbar-collapse-1">MAIN NAVIGATION</a>
            <div id="weather"></div>
        </div>
        <ul class="nav navbar-nav navbar-collapse-1 navbar-collapse collapse ">
            <li class="dropdown">
                <button class="btn clickable btn-hover" data-href="/about">
                    ABOUT
                </button>
                <button class="btn btn-default btn-hover" data-toggle="dropdown"><b class="caret"></b>
                </button>
                <ul class="dropdown-menu">
                    <t4 type="navigation" id="98" />
                    <!-- build:remove -->
                    <li><a href="http://google.com">Action</a>
                    </li>
                    <li><a href="http://google.com">Another action</a>
                    </li>
                    <li><a href="http://google.com">Something else here</a>
                    </li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="http://google.com">Separated link</a>
                    </li>
                    <li><a href="http://google.com">One more separated link</a>
                    </li>
                    <!-- /build -->
                </ul>
            </li>
            <li class="dropdown">
                <button class="btn clickable btn-hover" data-href="/academics">
                    ACADEMICS
                </button>
                <button class="btn btn-default btn-hover" data-toggle="dropdown"><b class="caret"></b>
                </button>
                <ul class="dropdown-menu">
                    <t4 type="navigation" id="97" />
                    <!-- build:remove -->
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a>
                    </li>
                    <li><a href="#">One more separated link</a>
                    </li>
                    <!-- /build -->
                </ul>
            </li>
            <li class="dropdown">
                <button class="btn clickable btn-hover" data-href="/admissions">
                    ADMISSIONS
                </button>
                <button class="btn btn-default btn-hover" data-toggle="dropdown"><b class="caret"></b>
                </button>
                <ul class="dropdown-menu">
                    <t4 type="navigation" id="96" />
                    <!-- build:remove -->
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a>
                    </li>
                    <li><a href="#">One more separated link</a>
                    </li>
                    <!-- /build -->
                </ul>
            </li>
            <li class="dropdown">
                <button class="btn clickable btn-hover" data-href="/campuslife">
                    CAMPUS LIFE
                </button>
                <button class="btn btn-default btn-hover" data-toggle="dropdown"><b class="caret"></b>
                </button>
                <ul class="dropdown-menu">
                    <t4 type="navigation" id="94" />
                    <!-- build:remove -->
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a>
                    </li>
                    <li><a href="#">One more separated link</a>
                    </li>
                    <!-- /build -->
                </ul>
            </li>
            <li class="dropdown">
                <button class="btn clickable btn-hover" data-href="/alumni">
                        ALUMNI &#38; FRIENDS
                    </button>
                    <button class="btn btn-default btn-hover" data-toggle="dropdown"><b class="caret"></b></button>
                <ul class="dropdown-menu">
                    <t4 type="navigation" id="93" />
                    <!-- build:remove -->
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a>
                    </li>
                    <li><a href="#">One more separated link</a>
                    </li>
                    <!-- /build -->
                </ul>
            </li>
            <li class="dropdown">
                <button class="btn clickable" data-href="http://gometrostate.com/">
                    ATHLETICS
                </button>
            </li>
        </ul>

        <!--/.nav-collapse -->
    </div>
</div>
<!-- ENDS MAIN BLUE NAVIGATION + LOGO + QUICK-LINKS
