// PAGE CONTENT
// where all user content ends up
.content {
    margin: 0 auto;
    padding: 0 2em;
    line-height: 1.6em;
    min-width: inherit;
    padding: 1.5em;
    color: @black;
    background: @white;
    max-width: 1200px;
    .img-responsive{
        padding: 0.75em;
    }
    .hero > .img-responsive{
        padding: inherit;
    }



.nopadding img.img-responsive {
    padding: 0px;
}

    img.border {
        padding: 10px;
        border: 1px solid #ececec;
        background: #fff;
    }
    a {
        color:@msudenver_blue;
        text-decoration: none;
        font-weight:bold;
        &:hover {
            color: @mainnav;
            border-bottom: 1px solid;
        }
    }
    .description {
        font-size: 10px;
    }
}

.content-subhead {
   margin: 50px 0 20px 0;
   font-weight: 300;
   color: #888;
}
