// PAGE CONTENT
// class
.content {
    min-width: inherit;
    padding: 1.2575em;
    color: @black;
    background: @white;
    max-width: 1200px;
    img.border {
        padding: 10px;
        border: 1px solid #ececec;
        background: #fff;
    }
    a {
        color:@msudenver_blue;
        text-decoration: none;
        font-weight:bold;
        &:hover {
            color: @mainnav;
            border-bottom: 1px solid;
        }
    }
    description {
        font-size: 10px;
    }

}
