.panel {


}
.panel-default {
    border: 1px solid #1b557a;
}
.panel-default>.panel-heading {
    background: #1b557a;
    color: #fff;
    font-size: 1.5em;
    font-weight: 100;
    border-color: #1b557a;
}
.panel-default>.panel-body {
    height: 300px;
    overflow: hidden;
}
.panel-title {
    color: #fff;
}
