

// 
// Custom Style for MSU Denver 2 Column Pages
// Copyright 2013 MSU Denver
// http://www.msudenver.edu
// 
// 
@import 'colors.less';
@import 'utils.less';
@import 'navigation.less';

/*
    
  BOOTSTRAP OVER-WRITES
  --------- * ---------

*/ 


.nav-header{
    color: @white;
}

li.active > a{
    background-color: @clouds !important;
    color: black !important;
}
  
/*
    
  MEDIA @ QUERIES
  ----- * -------

*/ 

@media (max-width: 980px) {
/* Enable use of floated navbar text */
    .navbar-text.pull-right {
      float: none;
      padding-left: 5px;
      padding-right: 5px;
    }
}



// extras ???

// #bannerImage {
//     max-width: 100%;
//     padding: 5px;
//     overflow:hidden;
//     margin-bottom:20px;
// }

// #bannerImage img {
//     overflow: hidden;
// }