/*!
 * Custom Style for MSU Denver 2 Column Pages
 * Copyright 2013 MSU Denver
 * http://www.msudenver.edu
 */
@import 'theme.less';
@import 'utils.less';

// @lnav1 
// @lnav2 
// @lnav3 
// @lnav4 
// @lnav5 
// @lnav6 
// @lnav7


/*
    
  NESTED NAVIGATION
  ------- * -------
        level
         .1.

*/ 
/* sidebar nav */ 
.sidebar-nav{
    margin-bottom: 2em;
}

/* indent all except first level by [x] */

.lnav2 li ,
.lnav3 li ,
.lnav4 li ,
.lnav5 li ,
.lnav6 li ,
.lnav7{
    margin-left: 0.5em;
}

.lnav1{
    background-color: @lnav1;
   
}
/* nav-headings */
.lnav1 li{
     color: @white;
}
/* nav link color */
.lnav1 li a{
    color: @white;
}
/* nav link color :hover */
.lnav1 li a:hover{
    background-color: @asbestos;
    
}
/* nav link color on mouse over, mouse leave */
.lnav1 li a, a:after{
    .animate-all(0.5s);
}


/*
    
  NESTED NAVIGATION
  ------- * -------
        level
         .2.

*/ 

.lnav2{
    background-color: @lnav2;
   
}
/* nav-headings */
.lnav2 li{
     color: @white;
}
/* nav link color */
.lnav2 li a{
    color: @white;
}
/* nav link color :hover */
.lnav2 li a:hover{
    background-color: @asbestos;
    
}
/* nav link color on mouse over, mouse leave */
.lnav2 li a, a:after{
    .animate-all(0.5s);
}



/*
    
  NESTED NAVIGATION
  ------- * -------
        level
         .3.

*/ 

.lnav3{
    background-color: @lnav3;
   
}
/* nav-headings */
.lnav3 li{
     color: @white;
}
/* nav link color */
.lnav3 li a{
    color: @white;
}
/* nav link color :hover */
.lnav3 li a:hover{
    background-color: @asbestos;
    
}
/* nav link color on mouse over, mouse leave */
.lnav3 li a, a:after{
    .animate-all(0.5s);
}


/*
    
  NESTED NAVIGATION
  ------- * -------
        level
         .4.

*/ 

.lnav4{
    background-color: @lnav4;
   
}
/* nav-headings */
.lnav4 li{
     color: @white;
}
/* nav link color */
.lnav4 li a{
    color: @white;
}
/* nav link color :hover */
.lnav4 li a:hover{
    background-color: @asbestos;
    
}
/* nav link color on mouse over, mouse leave */
.lnav4 li a, a:after{
    .animate-all(0.5s);
}

/*
    
  NESTED NAVIGATION
  ------- * -------
        level
         .5.

*/ 

.lnav5{
    background-color: @lnav5;
   
}
/* nav-headings */
.lnav5 li{
     color: @white;
}
/* nav link color */
.lnav5 li a{
    color: @white;
}
/* nav link color :hover */
.lnav5 li a:hover{
    background-color: @asbestos;
    
}
/* nav link color on mouse over, mouse leave */
.lnav5 li a, a:after{
    .animate-all(0.5s);
}

/*
    
  NESTED NAVIGATION
  ------- * -------
        level
         .6.

*/ 

.lnav6{
    background-color: @lnav6;
   
}
/* nav-headings */
.lnav6 li{
     color: @white;
}
/* nav link color */
.lnav6 li a{
    color: @white;
}
/* nav link color :hover */
.lnav6 li a:hover{
    background-color: @asbestos;
    
}
/* nav link color on mouse over, mouse leave */
.lnav6 li a, a:after{
    .animate-all(0.5s);
}

/*
    
  NESTED NAVIGATION
  ------- * -------
        level
         .7.

*/ 

.lnav7{
    background-color: @lnav7;
   
}
/* nav-headings */
.lnav7 li{
     color: @white;
}
/* nav link color */
.lnav7 li a{
    color: @white;
}
/* nav link color :hover */
.lnav7 li a:hover{
    background-color: @asbestos;
    
}
/* nav link color on mouse over, mouse leave */
.lnav7 li a, a:after{
    .animate-all(0.5s);
}


/*
    
  BOOTSTRAP OVER-WRITES
  --------- * ---------

*/ 


.nav-header{
    color: @white;
}
li.active > a{
    background-color: @clouds !important;
    color: black !important;
}
/*
    
  MEDIA @ QUERIES
  ----- * -------

*/ 

@media (max-width: 980px) {
/* Enable use of floated navbar text */
    .navbar-text.pull-right {
      float: none;
      padding-left: 5px;
      padding-right: 5px;
    }
}



// extras ???

// #bannerImage {
//     max-width: 100%;
//     padding: 5px;
//     overflow:hidden;
//     margin-bottom:20px;
// }

// #bannerImage img {
//     overflow: hidden;
// }