@import "./utils/colors.less" ;
@import "./utils/functions.less" ;
@import "./utils/left-side-nav.less" ;

/*
    
  BOOTSTRAP OVER-WRITES
  --------- * ---------

*/ 


.nav-header{
    color: @white;
}
li.active > a{
    background-color: @clouds !important;
    color: black !important;
}


/*
    
  THREECOLUMNRIGHT OVER-WRITES
  ----------- * --------------

*/ 
// .threeColumnRight .HighlightBox {
//   margin: 0 0 1em 0;
//   background: @orange; /* orange */
//   zoom: 1;
// }
