/*!
 * Custom Style for MSU Denver
 * Copyright 2013 MSU Denver
 * http://www.msudenver.edu
 */


@import "./utils/mediaQueries.less" ;
@import "./utils/functions.less" ;
@import "./utils/actionSection.less" ;
@import "./utils/captions.less" ;
@import "./utils/colors.less" ;

.toolbar{
  background-color: @white;
}
.navbar-inverse .nav > li  a:first-child{
  // margin-top: 1em;
}
.mainNavigation{
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
  margin-button: 1em;
}

.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
	color: #bcbaba;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

// search form field

.navbar-search-form{
  padding-top: 0.5em;
  padding-left: 4em;  
}


//     ACTION CENTER 
// --------- * ---------

.actionHeader.news{
  background-color:#3498DB;
}
.actionHeader.applynow{
  // font-size: 140%;
  font-size: 1.5em;
  // font-size: 100%;
  background-color:#1ABC9C;
} 
.actionHeader.give{
  // font-size: 100%;
  font-size: 1.111em;
  background-color:#2980B9;
} 
.actionHeader.events{
  background-color:#F39C12;
} 
.testimonial img{
	width: 100%;
}

// BOOTSTRAP OVER-WRITES
// --------- * ---------


