@import "./utils/functions.less" ;
@import "./utils/actionSection.less" ;
@import "./utils/captions.less" ;
@import "./utils/colors.less" ;

// 
// TESTIMONIAL IMG

.testimonial img{
  width: 100%; 
  max-width: 100%;  /* ie */
}

// NAVIGATION
// ----------

.navbar-inverse {
  padding-left: 0.55em;
  padding-right: 0.55em;
}

.nav.navbar-nav .input-group-btn{
  padding-left: 20%;
  // padding-right: 5%;
}

.input-group-btn.open > ul > li > a:hover{
  .animate-all(0.25s);
  // background: @webasphalt;
  background: @mainnav;
  
}
.btn.btn-default.dropdown-toggle{
  border-color: @mainnav ;

}
.toolbar{
  background-color: @white;
}

.toolbar ul li:hover {
  background-color: @clouds;
  // .box-shadow;
  color: @white;
  // .animate-all(0.5s);
}

.input-group-btn {
  // padding-top:0.355em;
  // float: left;
}


.mainNavigation{
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
  margin-button: 1em;
}

.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: #bcbaba;
}

.input-group-btn a{
  color: @lightgray;
}

button.btn.btn-default.dropdown-toggle, .open > a,
button.btn.btn-default.dropdown-toggle, .open > a:hover,
button.btn.btn-default.dropdown-toggle, .open > a:focus {
  color: #ffffff;
  background-color: #080808;
}

button.btn.btn-default.dropdown-toggle{
  background: none;
}

// search form field

.navbar-search-form{
  padding-top: 0.5em;
  padding-left: 3.5em;
}


//     ACTION CENTER 
// --------- * ---------


.actionHeader.applynow, .actionHeader.give{
  text-transform: uppercase;
  font-stretch: condensed;
  color: white;
  height: 150px;
  padding-bottom: 0;
  margin-bottom: 0;
} 

.actionHeader.applynow{
  // font-size: 3.15em;
  font-size: 3em;
  font-weight: lighter;
  letter-spacing: 0.15px;
  // padding-top: 20%;
  background-color: @turquoise;
}
.actionHeader.give{
  font-size: 2em;
  font-weight: lighter;
  letter-spacing: 0.15px;
  background-color:@belizehole;
} 
.actionHeader.events{
  background-color: @pomegranate;
} 
.apply_and_giving_well{
  // padding-bottom:0.5em; 
}
.actionHeader.news{
  background-color:@peterriver;
}


//    GROUP OF THREE 
// PICTURES AND CAPTIONS
// --------- * ---------

.homepage-caption .lead{
  font-size: x-large;
}

.lead{
  padding: 2em;
}

#firstLead{
 font-size: x-large;
}
#secondLead{
 font-size: 14px;
}
.homepage-caption img{
  // min-width: 5em; 
  // width: 100%;
  // max-width: 10em; 
  // min-width: 300px;
  // width: 100%;
  // max-height: 100%;
  // min-width: 180%;
  // max-width: 100%;
}
.homepage-hero .well{

}
.homepage-hero .well:first-child{
  margin-left: 0;
  padding: 1.2575em 0 1.2575em 0;
  border-left: none 0;
}

.homepage-hero .well:nth-child(2){
   padding: 1.2575em 0 1.2575em 0;
  border-left: 0;
}

.homepage-hero .well:nth-child(3){
   padding: 1.2575em 0 1.2575em 0;
  border-left: 0;
}


// TRUMBA CALENDAR STYLES
// --------- * ----------
.homepage_events.iframe.twDescription a{
  color: blue;
}
