@import 'theme.less'; 


/*
    
  NESTED NAVIGATION
  ------- * -------
        level
         .1.

*/ 
/* sidebar nav */ 
.sidebar-nav{
    margin-bottom: 2em;
}

/* indent all except first level by [x] */

.lnav2 ul  ,
.lnav3 ul  ,
.lnav4 ul  ,
.lnav5 ul  ,
.lnav6 ul  ,
.lnav7 ul {
    margin-left: 0.5em;
    width: 100%;
}

.lnav1{
    background-color: @lnav1;
   
}
/* nav-headings */
.lnav1 li{
     color: @white;
}
/* nav link color */
.lnav1 li a{
    color: @white;
}
/* nav link color :hover */
.lnav1 li a:hover{
    background-color: @asbestos;
    
}
/* nav link color on mouse over, mouse leave */
.lnav1 li a, a:after{
    .animate-all(0.5s);
}


/*
    
  NESTED NAVIGATION
  ------- * -------
        level
         .2.

*/ 

.lnav2{
    background-color: @lnav2;
   
}
/* nav-headings */
.lnav2 li{
     color: @white;
}
/* nav link color */
.lnav2 li a{
    color: @white;
}
/* nav link color :hover */
.lnav2 li a:hover{
    background-color: @asbestos;
    
}
/* nav link color on mouse over, mouse leave */
.lnav2 li a, a:after{
    .animate-all(0.5s);
}



/*
    
  NESTED NAVIGATION
  ------- * -------
        level
         .3.

*/ 

.lnav3{
    background-color: @lnav3;
   
}
/* nav-headings */
.lnav3 li{
     color: @white;
}
/* nav link color */
.lnav3 li a{
    color: @white;
}
/* nav link color :hover */
.lnav3 li a:hover{
    background-color: @asbestos;
    
}
/* nav link color on mouse over, mouse leave */
.lnav3 li a, a:after{
    .animate-all(0.5s);
}


/*
    
  NESTED NAVIGATION
  ------- * -------
        level
         .4.

*/ 

.lnav4{
    background-color: @lnav4;
   
}
/* nav-headings */
.lnav4 li{
     color: @white;
}
/* nav link color */
.lnav4 li a{
    color: @white;
}
/* nav link color :hover */
.lnav4 li a:hover{
    background-color: @asbestos;
    
}
/* nav link color on mouse over, mouse leave */
.lnav4 li a, a:after{
    .animate-all(0.5s);
}

/*
    
  NESTED NAVIGATION
  ------- * -------
        level
         .5.

*/ 

.lnav5{
    background-color: @lnav5;
   
}
/* nav-headings */
.lnav5 li{
     color: @white;
}
/* nav link color */
.lnav5 li a{
    color: @white;
}
/* nav link color :hover */
.lnav5 li a:hover{
    background-color: @asbestos;
    
}
/* nav link color on mouse over, mouse leave */
.lnav5 li a, a:after{
    .animate-all(0.5s);
}

/*
    
  NESTED NAVIGATION
  ------- * -------
        level
         .6.

*/ 

.lnav6{
    background-color: @lnav6;
   
}
/* nav-headings */
.lnav6 li{
     color: @white;
}
/* nav link color */
.lnav6 li a{
    color: @white;
}
/* nav link color :hover */
.lnav6 li a:hover{
    background-color: @asbestos;
    
}
/* nav link color on mouse over, mouse leave */
.lnav6 li a, a:after{
    .animate-all(0.5s);
}

/*
    
  NESTED NAVIGATION
  ------- * -------
        level
         .7.

*/ 

.lnav7{
    background-color: @lnav7;
   
}
/* nav-headings */
.lnav7 li{
     color: @white;
}
/* nav link color */
.lnav7 li a{
    color: @white;
}
/* nav link color :hover */
.lnav7 li a:hover{
    background-color: @asbestos;
    
}
/* nav link color on mouse over, mouse leave */
.lnav7 li a, a:after{
    .animate-all(0.5s);
}


/*
    
  BOOTSTRAP OVER-WRITES
  --------- * ---------

*/ 

.active{
  padding-right: 15px;
}

.nav-list {
  padding-right: 0;
  
}
