
/*!
 * Custom Style for MSU Denver
 * Copyright 2013 MSU Denver
 * http://www.msudenver.edu
 */
 
@import 'colors.less';
@import "utils.less" ;
// @import "2column.less" ;

/*

  data-href
  pointer-
  --------

*/ 

.clickable{
  cursor: pointer;
}

/*

  HEADERS
  --------

*/ 


h1 {
  color: @asbestos;
  font-size: 2.2em;
  font-weight: 200;
  margin-left: 10px;
  text-transform: uppercase;
}

h2 {
  color: @midnightblue;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 2px;
  text-transform: uppercase;
}

h3 {
  color: @belizehole;
  font-size: 1.8em;
  font-weight: 400;
  margin-bottom: 4px;
  margin-top: 2px; 
}

h4 { 
  color: @peterriver;
  font-size: 18px;
  font-weight: 500;
  margin-top: 4px; }

h5 {
  color: @midnightblue;
  font-size: 16px;
  font-weight: 500;}

h6 {
  color: @alizarin;
  font-size: 13px;
  font-weight: 500;
}



/*
  
  BODY AND LINK COLORS
  -------- * ---------

*/ 
body {
  margin: 0;
  font-family: cabin, source-sans-pro, muli, josefin-sans, open-sans, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: @white;
  background-image: url(/assets/img/background.jpg);
}

a {
  color: @contentlink;
  text-decoration: none;
}

a:hover,
a:focus {
  color: @contenthlink;
  text-decoration: underline;
}



/*
	
  HEADER
  ------

*/ 

.siteheader {
  padding: 1em;
  margin-bottom: 20px;
  background-color: @white;
  border: 1px solid @asbestos;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.siteheader .h1 {
	color: @asbestos;
	font-size: 1.5em;
}

.msudenver_logo img{
  max-width: 350px;
  padding: 2em;
}

.breadcrumbs {
   color: @midnightblue;
   margin-bottom: 20px;
   margin-left: 20px;
   font-weight: 500;
}


/*
	
  NAVIGATION
  ----------

*/ 

.nav-tabs > li > a,
.nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
  color:black;
}

.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: @concrete;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
// navitation tab animation on mouse over, mouse leave
.nav , .nav-tabs, .navbar-inner li a, a:hover{
  // .animate-all(0.5s);
}

/*
	
  FOOTER
  ------

*/ 

.footer {
  min-height: 20px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgba(42, 42, 42, 0.26);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.footer > .container > .row-fluid > .span3  {
  color: @black;
}

.footer > .container > .row-fluid > .span5 {
  color: @black;
}

.footer > .container > .row-fluid > .span5 {
  color: @black;
}


/*
	
  DEFINE!!!
  ---------

*/ 

.readmore {
	text-align:right; margin-top:10px;
}

.sup {
    font-size:80%; 
    vertical-align:top;
}
.sub {
    font-size:80%; 
    vertical-align:bottom;
}

.image_caption {font-size: 12px;
    line-height: 19px;
    color: rgb(115, 120, 126); 
}
.bordered {
  /* border:5px solid white; box-shadow:0 0 2px #AAAAAA; */
  padding: 9px; border: 1px solid #ececec;
}

hr {
  border : 0;
  height : 0.059em;
  background-color: @white;
  color: @white; // ie 6-8 fallback 
  margin : 0.65em 0;
 
}
/*
  
  CONTENT STYLES
  ----- * ------

*/ 

.content {
  min-height: 7em;
  padding: 1.2575em;
  margin-bottom: 20px;
  background-color: @white;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

#content a {
  color: @contentlink;
  text-decoration: none;
}

#content a:hover {
  color: @contenthlink;
  border-bottom: 1px solid;
}

#content img.border {
  padding: 10px;
  border: 1px solid #ececec;
  background: #fff;
}

#content description {
  font-size: 10px;
}

/*
	
  FOOTER
  ------

*/ 

.footer {
  min-height: 20px;
  padding: 20px;
  margin-bottom: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  background-color: #BDC3C7; /* fallback color for ie 8 */
  background-color: rgba(42, 42, 42, 0.26);
}

.footer > .container > .row-fluid > .span3  {
  color: @black;
}

.footer > .container > .row-fluid > .span5 {
  color: @black;
}

.footer > .container > .row-fluid > .span5 {
  color: @black;
}

// .wellsmoke {
// 	min-height: 20px;
// 	padding: 20px;
// 	margin-bottom: 20px;
//   background-color: #BDC3C7; /* fallback color for ie 8 */
//   background: #BDC3C7; /* fallback color for ie 8 */
// 	background-color: rgba(42, 42, 42, 0.26);
// 	-webkit-border-radius: 4px;
// 	-moz-border-radius: 4px;
// 	border-radius: 4px;
// 	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
// 	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
// 	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
// }
// .wellsmoke .span3, .wellsmoke .span4, .wellsmoke .span5   {
// 	margin-bottom: 1.5em;
// 	text-align: center;
//   	color:@black;

// }


/*
	
  BOOTSTRAP OVER-WRITES
  --------- * ---------

*/ 

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  *zoom: 1;
}

.well {
  min-height: 7em;
  padding: 1.2575em;
  margin-bottom: 20px;
  background-color: @white;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
