/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
		
		/* Styles */
		
	.applynow{
  		font-size: 90%;
  		font-size: 1.700em;
  		background-color:#1ABC9C;
	} 
	.give{
		font-size: 1.1111em;
	  	// font-size: 90%;
	  	background-color:#2980B9;
	}
	input.search-query{
		width: 250px;
	} 
}


@media only screen 
and (min-device-width: 1025px) {
  .msudenver_logo img {
    width: 80%;
    padding: 2em;
    // padding-left:18em;
  }
}
// @import 'css/venbootstrap.css';
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px){
	.msudenver_logo img{
   		width: 80%;
		padding: 2em;
	}
	.flexwrapper > section {
		width: 100%;  	
	}
	.containerfluid {
		position: relative;	
	}
	.navbar, .navbar-inverse {
  		margin: 0;
	}
	.actionHeader.applynow{
  		// font-size: 90%;
  		// font-size: 1.700em;
  		background-color:#1ABC9C;
	} 
	.actionHeader.give{
		// font-size: 1.1111em;
	  	// font-size: 90%;
	  	background-color:#2980B9;
	}
	input.search-query{
		 width: 100%;
	}
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	/* Styles */
	.actionHeader.applynow{
	// font-size: 140%;
	// font-size: 1.5em;
	font-size: 100% !important;
	background-color:#1ABC9C;
	} 
	.actionHeader.give{
	font-size: 100% !important;
	// font-size: 1.111em;
	background-color:#2980B9;
	} 
}			

// FROM CSS TRICKS
// ---------------



// /* Smartphones (portrait and landscape) ----------- */
// @media only screen 
// and (min-device-width : 320px) 
// and (max-device-width : 480px) {
// /* Styles */
// }

// /* Smartphones (landscape) ----------- */
// @media only screen 
// and (min-width : 321px) {
// /* Styles */
// }

// /* Smartphones (portrait) ----------- */
// @media only screen 
// and (max-width : 320px) {
// /* Styles */
// }

// /* iPads (portrait and landscape) ----------- */
// @media only screen 
// and (min-device-width : 768px) 
// and (max-device-width : 1024px) {
// /* Styles */
// }

// /* iPads (landscape) ----------- */
// @media only screen 
// and (min-device-width : 768px) 
// and (max-device-width : 1024px) 
// and (orientation : landscape) {
// /* Styles */
// }

// /* iPads (portrait) ----------- */
// @media only screen 
// and (min-device-width : 768px) 
// and (max-device-width : 1024px) 
// and (orientation : portrait) {
// /* Styles */
// }

// /* Desktops and laptops ----------- */
// @media only screen 
// and (min-width : 1224px) {
// /* Styles */
// }

// /* Large screens ----------- */
// @media only screen 
// and (min-width : 1824px) {
// /* Styles */
// }

// /* iPhone 4 ----------- */
// @media
// only screen and (-webkit-min-device-pixel-ratio : 1.5),
// only screen and (min-device-pixel-ratio : 1.5) {
// /* Styles */
// }