/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
	.flexwrapper > section {
		width: 100%;  	
	}
	.containerfluid {
		position: relative;
		
	}
	.mainNavigation{
		// background-color : none;
	}
	.navbar, .navbar-inverse {
  		margin: 0;
	}

	.actionHeader.give{
  		font-size: 0.2em;
  		background-color:#2980B9;
	} 
}



@media only screen 
and (min-width : 800px) {
	.navbar, .navbar-inverse{
		// margin-top: 10em;
	}	
	// .containerfluid {
	// 	position:fixed;
	// 	z-index: 99;
	// }
}
