@import 'colors.less';

.sidebar-nav {
	// background:url(/media/styleassets/images.sidebar-navDividerBg.gif) 0px 27px repeat-x #0C1F3F;
	border:5px solid @white;
	margin-bottom:20px;
	box-shadow:0 0 2px #AAAAAA;
}

.sidebar-nav li {
	line-height:27px;
	padding-left:10px;
}

.sidebar-nav a {
	color:@white;
	display:block;
}

.sidebar-nav a:hover {
	background:url(/media/styleassets/images/activeArrow_trans.gif) right center no-repeat;
	border-bottom:none;
}

.sidebar-nav ul li ul li {
	background-color:#DDDDDD;
	margin-left:-10px;
	padding-left:20px;
}
.sidebar-nav ul li ul li ul li {
	background-color:#EEEEEE;
	margin-left:-20px;
	padding-left:30px;

}
.sidebar-nav ul li ul li ul li ul li{
	background-color: @black;
	margin-left:-30px;
	padding-left:40px;
}

.sidebar-nav ul li ul li a {
	color:black;
}

.sidebar-nav ul li ul li a:hover {
	// background:url(/media/styleassets/images/thirdLevelNavHover.png) right center no-repeat;
}

// .currentSection {
// 	font-size: 18px;
// 	color:#AAAAAA;
// 	padding:5px 10px;
// 	display:block;
// }

.currentbranch0 a {
	// background:url(/media/styleassets/images/activeArrow_trans.gif) right center no-repeat;
	display: block;
}

.currentbranch1 {
	font-weight: bold;
	// background:url(/media/styleassets/images/thirdLevelNavHover.png) right center no-repeat;
	display:block;
}

.currentbranch2 {
	font-weight: bold;
	// background:url(/media/styleassets/images/thirdLevelNavHover.png) right center no-repeat;
	display:block;
}

.currentbranch3 {
	font-weight: bold;
	// background:url(/media/styleassets/images/thirdLevelNavHover.png) right center no-repeat;
	display:block;
}

.currentbranch4 {
	font-weight: bold;
	// background:url(/media/styleassets/images/thirdLevelNavHover.png) right center no-repeat;
	display:block;
}
