.actionHeader {
  vertical-align: top;
  box-sizing: border-box;
  padding-bottom: 2%;
  padding-top: 2%;
  color: white;
  text-align: center;
  font-weight: 100;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}
p.actionHeader {
  padding: 10%;
  line-height: 1.25em;
  font-height: 2em;
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 1.755em;
  text-transform: uppercase;
  min-height: 90px;
}
.actionHeader.news {
  background-color: #3498DB;
}
.actionHeader.applynow {
  background-color: #1ABC9C;
}
.actionHeader.give {
  font-size: 1.2em;
  background-color: #2980B9;
}
.actionHeader.events {
  background-color: #F39C12;
}
