.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
.triangle {
  position: absolute;
  border-left: 2.5em solid transparent;
  border-right: 2.5em solid transparent;
  border-bottom: 2em solid #ff0000;
  border-radius: 0px;
}
/***************HighlightBox *********************/
.linkcolumn .HighlightBox {
  margin: 0 0 1em 0;
  background: #c0392b;
  zoom: 1;
}
.HighlightBox .triangle {
  left: 50%;
  bottom: 0;
  top: 105%;
  border-bottom: 3em solid #16A085;
  transform-origin: 25% 5%;
  -ms-transform-origin: 25% 5%;
  -webkit-transform-origin: 25% 5%;
  z-index: -1;
  /* Safari */

  -webkit-transform: rotate(180deg);
  /* Firefox */

  -moz-transform: rotate(180deg);
  /* IE */

  -ms-transform: rotate(180deg);
  /* Opera */

  -o-transform: rotate(180deg);
  /* Internet Explorer */

  /*accepts 0, 1, 2, or 3 which will 
      rotate the element 0, 90, 180 or 
      270 degrees respectively.*/
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-);
}
.linkcolumn .HighlightBox .triangle {
  border-bottom: 3em solid #c0392b;
}
.HighlightBox {
  color: #ffffff;
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #16A085;
  position: relative;
  zoom: 1;
  z-index: 2;
  /*  see .triangle index , this one has to be greater than triangle*/

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.HighlightBox-title {
  color: #ffffff;
  font-size: 1.5em;
  text-align: center;
}
.HighlightBox-content,
.HighlightBox-content a {
  color: #ffffff;
  font-size: 1em;
}
/***************Zebra Stripe For Newsroom*********************/
.story_preview {
  border: solid silver 1px ;
}
.story_preview {
  padding: 15px;
}
.story_preview:nth-child(odd) {
  background-color: #f0f0f0;
}
.story_preview:nth-child(even) {
  background-color: #ffffff;
}
/***************Banner Image*********************/
.bannerImage {
  max-width: 100%;
  padding: 5px;
  overflow: hidden;
  margin-bottom: 1.5em;
}
/***************Accordion Group*********************/
.accordion-group {
  margin-bottom: 20px;
  border-radius: 0;
}
/***************Expert Profile Class*********************/
.expert {
  padding: 1.5em;
  margin-bottom: 20px;
  position: relative;
  zoom: 1;
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
/***************Facebook Like*********************/
.fb-like-box {
  margin-bottom: 1.5em;
}
/***************Department Social Links*********************/
.depsocial {
  margin-bottom: 1.5em;
}
/***************Carousel *********************/
.carousel-inner {
  background: #000000;
  height: 400px;
  vertical-align: bottom;
  bottom: 0;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  max-height: 400px;
  line-height: 1;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.carousel-caption {
  right: 0%;
  bottom: 0;
  left: 0%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  background-color: rgba(42, 42, 42, 0.26);
  text-align: center;
  text-shadow: 0;
}
