/****Flat UI Colors****/
/****Custom Colors****/
/****Blue Left Navigation Colors****/
/******Color Classes*****/
.turquoise {
  background: #1ABC9C;
}
.greensea {
  background: #16A085;
}
.emerald {
  background: #2ECC71;
}
.nephritis {
  background: #27AE60;
}
.peterriver {
  background: #3498DB;
}
.belizehole {
  background: #2980B9;
}
.amethyst {
  background: #9B59B6;
}
.wisteria {
  background: #8E44AD;
}
.wetasphalt {
  background: #34495E;
}
.midnightblue {
  background: #2C3E50;
}
.sunflower {
  background: #F1C40F;
}
.orange {
  background: #F39C12;
}
.carrot {
  background: #E67E22;
}
.pumpkin {
  background: #D35400;
}
.alizarin {
  background: #E74C3C;
}
.pomegranate {
  background: #C0392B;
}
.clouds {
  background: #ECF0F1;
}
.silver {
  background: #BDC3C7;
}
.asbestos {
  background: #7F8C8D;
}
.concrete {
  background: #95A5A6;
}
/****Custom Colors****/
.darkgray {
  background: #333333;
}
.lightgray {
  background: #bcbaba;
}
.white {
  background: #ffffff;
}
.black {
  background: #000000;
}
.contentlink {
  background: #1b557a;
}
.contenthlink {
  background: #20648f;
}
.rowdyblue {
  background: #00447c;
}
.rowdyred {
  background: #c50f3c;
}
.rowdygray {
  background: #717073;
}
.mainnav {
  background: #003663;
}
/*Homepage Accordion*/
.home_accordion {
  width: 100%;
  height: 320px;
  overflow: hidden;
}
.home_accordion li {
  position: relative;
  display: block;
  width: 33%;
  height: 320px;
  float: left;
  -webki-transition: all 1s;
  transition: all 1s;
}
.home_accordion ul:hover li {
  width: 20%;
}
.home_accordion ul li:hover {
  width: 60%;
}
.home_accordion li img {
  display: block;
}
.image_title {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 640px;
}
.image_title a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 20px;
  font-size: 20px;
}
