@media only screen and (min-width: 320px) and (max-width: 776px) {
  .input-group-btn {
    padding-top: 0.555em;
    float: none;
  }
  .campus-info p {
    padding-top: 1em;
  }
}
@media only screen and (min-width: 981px) and (max-width: 1200px) {
  
}
