<!-- BEGINS 3 FEATURE CONTENT PROMO  -->
<!-- build:remove -->
<div class="container">
    <div class="well">
        <div class="row">
          <div class="col-lg-12">
            <!-- 1 -->
                <div class="clickable hero-home col-lg-6 col-md-6" data-href="/newsroom/spotlight/community/">
                    <div class="homepage-caption">
                        <img class="img-responsive" src="images/img/group_of_three_for_homepage/1.jpg" alt="" />
                        <p class='firstLead'>MSU Denver transforms lives. We transform our community, too.</p>
                    </div>
                </div>
                <!-- 2 -->
                <div class="clickable hero-home col-xs-6 col-sm-6 col-md-3 col-lg-3" data-href="/newsroom/spotlight/usnews/">
                    <div class="homepage-caption">
                        <img class="img-responsive" src="images/img/group_of_three_for_homepage/2.jpg" alt='U.S. News ranks MSU Denver No. 23 on list of best colleges and universities in the West.'>
                    </div>
                </div>
                <!-- 3 -->
                <div class="clickable hero-home col-xs-6 col-sm-6 col-md-3 col-lg-3" data-href="http://www.msudenver.edu/newsroom/news/2013/november/14-annwilliams.shtml">
                    <div class="homepage-caption">
                        <img class="img-responsive" src="images/img/group_of_three_for_homepage/3.jpg" alt='Transformative Teaching: U.S. Professor of the Year Ann Williams' />
                        <p class='secondLead'>Transformative Teaching: U.S. Professor of the Year Ann Williams.</p>
                    </div>
                </div>
              <!-- end of 3 -->
            </div>
        </div>
    </div>
</div>
<!-- /build -->
<!-- ENDS 3 FEATURE CONTENT PROMO  -->
