<!-- BEGINS LEFT SIDE (LINK COLUMN -/- SIDEMENU) -->
<div class="sidebar-nav">
    <div id="layout">
        <!-- Menu toggle -->
        <a href="#menu" id="menuLink" class="menu-link">
            <!-- Hamburger icon -->
            <span></span>
        </a>
        <div id="menu">
            <div class="pure-menu pure-menu-open">
                <a class="pure-menu-heading visible-xs" href="#">SIde Menu</a>
                <t4 type='navigation' id='784' />
                <!-- build:remove -->
                <ul class="nav nav-list">
                    <li><a href="/newsroom/">Home</a>
                    </li>
                    <li>
                        <span class="currentbranch0"><a href="/newsroom/news/">All News/Archive</a>
                        </span>
                        <ul class="multilevel-linkul-0">
                            <li>
                                <span class="currentbranch1"><a href="/newsroom/news/2014/">2014</a>
                                </span>
                                <ul class="multilevel-linkul-1">
                                    <li><a href="/newsroom/news/2014/january/">January</a>
                                    </li>
                                    <li>
                                        <span class="currentbranch2"><a href="/newsroom/news/2014/february/">February</a>
                                        </span>
                                    </li>

                                </ul>
                            </li>
                            <li><a href="/newsroom/news/2013/">2013</a>
                            </li>
                            <li><a href="http://www.msudenver.edu/collcom/artman/publish/">2005 - 2012</a>
                            </li>
                            <li><a href="http://www.msudenver.edu/collcom/@metro/previoius_issues.htm">2003 - 2005</a>
                            </li>

                        </ul>
                    </li>
                    <li><a href="/newsroom/topics/">Topics</a>
                    </li>
                    <li><a href="/newsroom/pressreleases/">Press Releases</a>
                    </li>
                    <li><a href="/newsroom/dailyclips/">Daily News Clips</a>
                    </li>
                    <li><a href="/experts/">Faculty Experts Guide</a>
                    </li>
                    <li><a href="/newsroom/mediaresources/">Media Resources</a>
                    </li>
                    <li><a href="/speakersbureau/" target="_blank">Speakers Bureau</a>
                    </li>
                    <li><a href="/newsroom/studentpublications/">Student Publications</a>
                    </li>
                    <li><a href="/newsroom/contactus/">Contact Us</a>
                    </li>
                </ul>
                <!-- /build -->
            </div>
        </div>
    </div>
</div>
<div class="linkcolumn">
    <!-- text/linkcol -->
    <t4 type='navigation' id='104' />

    <!-- build:remove -->
    <div class="HighlightBox">
        <div class="HighlightBox-title">
            <div class="triangle"></div>
            Get In Touch
            <hr>
        </div>
        <div class="HighlightBox-content">
            <p>
                <strong>Building</strong>
            </p>
            <p>
                <strong>Department Office #272</strong>
            </p>
            <p>P: 303 123 - 4567</p>
            <p>F: 303 765 - 4321</p>
            <p>email@msudenver.edu</p>
        </div>
    </div>
    <div class="well">
        <h4>Sidebar Title</h4>
        <hr>
        <p>
            <img class="img-responsive" src='images/two_col_sample_content/3.jpg' alt='Standard image for sidebar content' />
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id sagittis nulla. Quisque aliquet, mi ut convallis ultricies, ipsum nulla fringilla arcu, non convallis elit diam a sapien.</p>
    </div>
    <!-- /build -->
</div>
<!-- sidemenu.js  -->
<t4 type="media" id="70446" />
<!-- build:remove -->
<script type="text/javascript" src="js/sidemenu.js"></script>
<!-- /build -->

<!-- ENDS LEFT SIDE (LINK COLUMN/SIDEMENU) -->
