// // @import "variables.less";

// // /* 

// // 	table style
// // 	--------
   
// // */

td{
	width:  0.2em;
	height: 0.2em;
}

.caption {
	text-align: center;
	margin: 0;
	padding: 1.5em;
	color:white;
	font-size: 1.25em;
	background-color: rgb(0,109,169);
	border-radius: 4px 4px 0 0px;

}

.categories {
	.animate();
	// width: @content_width;
	color:white;
	position: fixed;
	// width: 100%;
	z-index: 1002;
	// position: absolute;
	top: 57em;
	// z-index: 999;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	background-color: #454345;
	border-bottom: 0.5em rgb(209,18,66) solid;
}
table.results > tbody{
	// position: relative;
	// position: absolute;
	// top: 15em;
	// width: @content_width;
	// margin-top: 4.4em;
	// padding-bottom: 35px;
	// padding-top: 0px;
}
th.Name{
	min-width: 15em;
	max-width: 20em;
}
th.Concentration{
	padding-right: 5px;
}
th.Masters{
	padding-left:43px;
}
th.palette{
	position: relative;
	padding-left: 0;
	padding-right: 0;
	margin: auto;
}

// // Major Minor Parent hierarchy
td.X{
	width: 1em;
	// background-color: #3498db;
	background-color: @msu-blue;
	word-wrap: break-word;
	color: white;
}
td.Name{
	width: 10%;
	background-color: rgb(0,125,125);
	background-color: #575558;
	border-bottom: 0.12em solid gray;
}
th.Name span{
	background-color: none;
}
td.Name span a:hover{
	color: white;
	cursor: default;
}
td.Name span.X:hover{
	border-radius: 28px 28px 28px 0px;
}
td.Name:hover{
	// @s : 1.225;
	// color: white;
	// cursor: auto;
	// -moz-transform: scale(@s);
	// -ms-transform: scale(@s);
	// -o-transform: scale(@s);
	// -webkit-transform: scale(@s);
	// transform: scale(@s);
	background-color: black;
	.animate(0.5s);
}
.span.X:hover{
	.animate;
	text-shadow: rgba(0,0,0,0.75) 2em;
}
tbody a{
	// .center;
	// padding-left: 20px;
	// width: 100%;
	text-align: left;
	left: 25px;
	font-size:14px;	
	font-style: italic;
	// text-transform:lowercase;
	// text-transform: capitalize;
	color: white;
	text-decoration: none;
	word-wrap:break-word;
}
tbody a:hover{
	color: black;
}
tbody span.X a{
	text-transform:uppercase;
	font-style: inherit;
	text-align: left;
	font-size:1em;
	padding-left: 0;	
}

.inner{
	width: 1em;
	height: 1em;
	background-color: #ECF0F1;
	border-bottom: .1em solid @gray;
	border-right: .1em solid @gray;
	text-align: center;
	color: #ECF0F1;
}
.categories{
	margin: 0 auto;
}
.categories ul li{
	text-align: center;
}
// // class needed since ie does not 
// // pick up img attributes for width and height
img.degreeCircle {
  max-width: 10%;
  height: auto;
  width: auto \9;
}
